@import '../base';

.footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  font-family: $font-family;

  .footer_content {
    position: relative;
  }

  .row {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;

    @media screen and (max-width: $small) {
      font-size: $small-font;
      justify-content: space-around;
    }

    .if_me {
      text-align: left;

      @media screen and (max-width: $small) {
        text-align: center;
      }
    }

    .connect {
      text-align: center;
    }

    .resources {
      text-align: right;

      @media screen and (max-width: $small) {
        text-align: center;
      }
    }

    .table_cell {
      width: 26%;

      @media screen and (max-width: $small) {
        width: 75%;
      }

      @media (min-width: $small + 1) and (max-width: $medium) {
        width: 30%;
      }

      ul {
        margin-top: 50px;
        -webkit-padding-start: 0;
        -moz-padding-start: 0;

        .footer_header {
          color: $header-text-color;
          text-transform: uppercase;
          margin-bottom: 5px;
          opacity: 0.5;
        }
      }

      ul > li {
        list-style: none;
        line-height: 24px
      }

      ul li a {
        text-decoration: none;
        color: $background-color;

        &:hover {
          color: $footer-text-color;
          cursor: pointer;
        }
      }
    }
  }

  .dropdown {
    margin-top: 30px;
    padding-bottom: 40px;

    @media screen and (max-width: $small) {
      margin-top: 30px;
      padding-bottom: 20px;
      text-align: center;
    }
  }

  .love_foss {
    text-align: right;
    color: $background-color;
    font-family: $font-family;
    font-size: $font20;
    line-height: 0.5;

    @media screen and (max-width: $small) {
      font-size: $small-font;
      text-align: center;
      padding-bottom: 35px;
    }

    @media (min-width: $small + 1) and (max-width: $medium) {
      font-size: $font18;
      margin-top: 10px;
    }

    a.license {
      font-size: $font18;
      text-decoration: none;
      color: $background-color;

      &:hover {
        color: $footer-text-color;
        cursor: default;
      }

      @media screen and (max-width: $small) {
        font-size: $font12;
      }

      @media screen and (max-width: $medium) {
        font-size: $small-font;
      }
    }
  }
}
