{
  "presets": [
    [
      "@babel/env", {
        "useBuiltIns": "usage",
        "modules": "commonjs",
        "corejs": "3"
      }
    ],
    "@babel/preset-flow",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-proposal-private-methods",
    "@babel/plugin-proposal-private-property-in-object"
  ],
  "env": {
    "test": {
      "plugins": [
        "babel-plugin-transform-es2015-modules-commonjs"
      ]
    },
    "development": {
      "plugins": [
        "flow-react-proptypes"
      ]
    }
  }
}