{
  "presets": [
    ["@babel/env", {
      "useBuiltIns": "usage",
      "modules": "commonjs"
    }],
    "@babel/preset-flow",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-modules-commonjs"
  ],
  "env": {
    "test": {
      "plugins": [
        "babel-plugin-transform-es2015-modules-commonjs"
      ]
    },
    "development": {
      "plugins": [
        "flow-react-proptypes"
      ]
    }
  }
}