{
  "plugins": ["jasmine", "flowtype"],
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jasmine": true
  },
  "root": true,
  "rules": {
    "react/sort-comp": [2, {
      "order": [
        "type-annotations",
        "static-methods",
        "lifecycle",
        "everything-else",
        "/^render.+$/",
        "render"
      ]
    }],
    "react/prefer-stateless-function": ["off"]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          // allow absolute import from "app/libs/.." as "libs/.."
          "./app",
          // allow absolute import from "../configs/locales.." as "configs/locales.."
          ".."
        ]
      }
    }
  }
}
