.staticContent {
  color: $white;
  width: 100%;
  box-sizing: border-box;
  padding: $size-40 60px;
  @media screen and (max-width: $medium) {
    padding: $size-20;
  }
  @media screen and (max-width: $small) {
    @include buttonFull();
  }
  @include staticContentLink();

  .pageTitle {
    @include setFontSize($size-36);
    @include setMargin($size-0, $size-0, $size-50, $size-0);
    text-align: center;
    font-weight: $font-weight-300;
  }

  .subtitle {
    @include setFontSize($size-24);
    @include setMargin($size-0, $size-0, $size-20, $size-0);
    text-align: center;
  }

  h1 {
    @include setFontSize($size-26);
    @include setMargin($size-0, $size-0, $size-20, $size-0);
    font-weight: $font-weight-300;
  }

  .message {
    &Hero {
      @include setMargin($size-0, $size-0, $size-50 * 2, $size-0);
    }
    &Main {
      @include setFontSize($size-32);
      @include setMargin(auto, auto, $size-40, auto);
      font-weight: $font-weight-300;
      width: 70%;
      text-align: center;
      @media screen and (max-width: $medium) {
        width: 100%;
      }
      &:last-of-type {
        margin-bottom: $size-0;
      }
      &Logo > div > div {
        margin: 0 auto $size-30 auto;
      }
    }
    &Body {
      @include setMargin(auto, auto, $size-40, auto);
      width: 70%;
      text-align: center;
      @media screen and (max-width: $medium) {
        width: 100%;
      }
      &:last-of-type {
        margin-bottom: $size-0;
      }
      &Links {
        font-size: $size-0;
        line-height: 3;
        @media screen and (max-width: $small) {
          line-height: normal;
        }
        > a:first-of-type {
          margin-right: $size-28;
          @media screen and (max-width: $small) {
            margin: $size-0 $size-0 $size-10 $size-0;
          }
        }
      }
    }
  }

  .purple_yay {
    @include setFontSize($size-30);
    color: $purple-yay;
    text-align: center;
    text-shadow: $size-0 $size-0 $size-4 $purple-yay;
  }

  form {
    text-align: center;
  }
}