@import "~styles/_global.scss";

.panelParent {
  width:100%;
  position: relative;
}

.panel {
  width: 100%;
  background-color: white !important;
  position: absolute;
  box-shadow: 3px 7px 18px -3px rgba(0,0,0,0.6);
  padding-block-end: 1%;
  z-index: 99;
}

.fullWidth {
  width: 100%;
}

.hidden {
  display: none;
}

.checkMultiSelect {
  width: 100%;
  cursor: pointer;
  padding: 3%;
  display: block;
}
.checkMultiSelect:hover {
  width: 94%;
  background-color: $mulberry-50;
}
