@import "~styles/_global.scss";

.multiSelect {
  &Button {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &Checkboxes {
    @include setPadding($size-6, $size-6, $size-6, $size-6);
    @include fadeIn(0.8s);

    width: 100%;
    box-sizing: border-box;
    position: absolute;
    z-index: $z-index-front;
    font-weight: $font-weight-400;
    text-transform: none;
    letter-spacing: normal;
    color: $black;
    box-shadow: $size-0 $size-2 $size-10 $black-10;
    border-radius: $size-4;
    background: $white;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;

    &Wrapper {
      width: 100%;
      position: relative;
    }
  }
}
