@import "../../styles/_global.scss";

.tag {
  &Checkboxes {
    @include setMargin($size-10, $size-0, $size-0, $size-0);
  }

  &Menu {
    @include setPadding($size-6, $size-6, $size-6, $size-6);
    @include fadeIn(0.8s);
    font-weight: $font-weight-400;
    text-transform: none;
    letter-spacing: normal;
    color: $black;
    box-shadow: $size-0 $size-2 $size-10 $black-10;
    border-radius: $size-4;
    background: $white;
    cursor: pointer;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &Label {
    @include setPadding($size-4, $size-4, $size-4, $size-4);
    text-transform: capitalize;
  }

  &Highlighted {
    background: $light-grey;
    border-radius: $size-4;
    font-weight: bold;
  }
}