@import "../../styles/_legacy.scss";

.label {
  @include setFontSize($size-14);
  color: $black-20;
  padding: $size-12 0;
  letter-spacing: 0.095em;
  text-indent: 4px;
  text-transform: uppercase;
  transition: 0.25s;
  transition-timing-function: linear;
  &.large {
    @include setFontSize($size-18);
  }
  &.active {
    color: $black-50;
  }
  &.dark {
    color: $mulberry;
    opacity: 0.7;
    &.active {
      color: $mulberry-50;
    }
  }
}

.input {
  @include setFontSize($size-18);
  color: rgba(255, 255, 255, 0.8);
  background-color: $black-20;
  text-indent: 15px;
  font-weight: $font-weight-300;
  border: none;
  border-radius: $size-4;
  box-shadow: $size-0 $size-2 $size-6 $black-20;
  height: 49px;
  width: 100%;
  transition: 0.25s;
  transition-timing-function: linear;
  &:focus {
    background-color: $black-50;
    outline: none;
  }
  &::placeholder {
    color: $white;
    font-weight: $font-weight-300;
  }
  &.large {
    @include setFontSize($size-24);
    text-indent: $size-24;
    height: 68px;
  }

  &.dark {
    background-color: $mulberry;
    opacity: 0.7;
    &:focus {
      background-color: $mulberry-50;
      color: $white;
      opacity: 0.75;
      &::placeholder {
        font-weight: $font-weight-300;
      }
    }
  }
}
