@import "../../styles/_global.scss";

.password {
  display: flex;
  flex-direction: row;

  input {
    border-radius: $size-4 $size-0 $size-0 $size-4 !important;
  }

  button {
    @include setFontSize($size-20);
    background-color: $mulberry;
    border: 0;
    color: $white;
    border-radius: $size-0 $size-4 $size-4 $size-0;
    width: 70px;
    box-shadow: $size-0 $size-2 $size-10 $black-10;
  }
}
