@import "../../styles/_global.scss";

.button {
  @include setFontSize($size-24);
  background: transparent;
  color: $white;
  border: none;
  padding: $size-0;
  margin-right: $size-16;
  b, strong {
    color: $white !important;
  }
  &Selected {
    color: $mulberry;
    b, strong {
      color: $mulberry !important;
    }
  }
}

.content {
  @include setMargin($size-20, $size-0, $size-0, $size-0);
  background: transparent;
  padding: $size-0;
  color: $white;
  outline: none;
  a {
    color: $blumine !important;
    cursor: pointer;
  }
  b, strong {
    color: $white !important;
  }
  p {
    margin: $size-0;
  }
}

.dark {
  .button {
    color: $white;
    b, strong {
      color: $white !important;
    }
    &Selected {
      color: $key-lime;
      b, strong {
        color: $key-lime !important;
      }
    }
  }
  .content {
    color: $white;
    a {
      color: $cornflower !important;
    }
    b, strong {
      color: $white !important;
    }
  }
}
