@import "../../styles/_global.scss";

.show {
  @include setMargin($size-40, $size-0, $size-0, $size-0);
  position: relative;
  background-color: $mulberry;
  border: 0;
  color: $white;

  @media screen and (max-width: $x-small) {
    left: 190px;
    top: -100px;
    height: 60px;
    width: 60px;
  }

  @media screen and (min-width: $x-small) and (max-width: $medium) {
    left: 195px;
    top: -100px;
    height: 60px;
    width: 60px;
  }

  @media screen and (min-width: $medium) {
    left: 200px;
    top: -104px;
    height: 65px;
    width: 60px;
  }
}
