@import "~styles/_global.scss";

.textarea {
  word-break: break-word;
}

.button {
  @include setFontSize($size-24);

  background: transparent;
  color: $white;
  border: none;
  padding: $size-0;
  margin-right: $size-16;

  b,
  strong {
    color: $white !important;
  }

  &Selected {
    color: $mulberry;

    b,
    strong {
      color: $mulberry !important;
    }
  }
}

.content {
  @include setMargin($size-20, $size-0, $size-0, $size-0);

  background: transparent;
  padding: $size-0;
  color: $white;
  outline: none;

  a {
    color: $blumine !important;
    cursor: pointer;
  }

  b,
  strong {
    color: $white !important;
  }

  p {
    margin: $size-0;
  }

  img {
    max-width: 100%;
  }
}

.dark {
  .button {
    color: $white;

    b,
    strong {
      color: $white !important;
    }

    &Selected {
      background: $white;
      color: $mulberry;

      b,
      strong {
        color: $mulberry !important;
      }
    }
  }

  .content {
    color: $white;

    a {
      color: $cornflower !important;
    }

    b,
    strong {
      color: $white !important;
    }
  }
}

.editor {
  min-height: $size-70;
}

.editor:focus-within {
   > div:first-child {
    position: sticky;
    top: $nav-height;
    left: 0;
    right: 0;
    width: 100%;
    background: $black;
    margin-top: -1 * $size-24;
    margin-left: -1 * $size-24;
    padding: $size-24;

    @media screen and (max-width: $medium) {
      top: 0;
      margin-top: -1 * $size-12;
      margin-left: -1 * $size-32;
      padding: $size-12 $size-32;
    }
  }
}

:global(.modal) {
  .editor:focus-within {
    > div:first-child {
      top: 0 !important;
    }
  }
}
