@import "~styles/_global.scss";

.toast {
  display: flex;
  justify-content: space-between;
  width: fit-content; 
  margin: 0 auto;

  button {
    background: transparent;
    color: $white;
    opacity: 0.5;
    border: 0;
    &:hover {
      border: 0;
      opacity: 1;
    }
  }
}
