@import "../../styles/_legacy.scss";

.label {
  display: inline-block;
  position: relative;

  font-family: $font-family;
  font-size: 36px;
  line-height: 1;
  color: $white;
  text-shadow: $size-0 $size-2 $size-10 $black-10;
  text-align: center;

  &.large {
    font-size: 48px;
  }

  &.small {
    font-size: $size-30;
  }

  &.text {
    font-size: $size-24;
    text-shadow: none;
  }
}
