<table>
  <thead>
    <tr>
      <th>Userid</th>
      <th>Allies</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @allies.each do |ally| %>
      <tr>
        <td><%= ally.userid %></td>
        <td><%= ally.allies %></td>
        <td><%= link_to 'Delete', ally, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />[Invite people by email to signup, once they do they are added on your ally list]
<br />
<br />[Search from all existing accounts and send invites]