<div class="gridTwoItemBoxLight">
  <%= react_component('Story', props: {
    name: mood.name,
    link: url_for(mood),
    actions: {
			edit: edit_mood_path(mood),
			delete: t('common.actions.confirm')
		}
  }) %>
</div>
