<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @moods.each do |mood| %>
      <tr>
        <td><%= link_to mood.name, mood %></td>
        <td>
          <%= truncate(mood.description, :length => 80) %> 
        </td>
        <td>
          <i class="fa fa-pencil action"></i><%= link_to 'Edit', edit_mood_path(mood) %>
          <i class="fa fa-trash-o action" style="margin-left: 20px"></i><%= link_to 'Delete', mood, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

