<p>
  <strong>Name:</strong>
  <%= @mood.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mood.description %>
</p>

<%= link_to 'Edit', edit_mood_path(@mood) %> |
<%= link_to 'Back', moods_path %>
