<% title @mood.name %>
<% if @mood.description.present? && @mood.description.length > 0 %>
  <%= sanitize(@mood.description) %>
<% else %>
  <div class="messageMain">
    <%= t('warnings.no_description') %>
  </div>
  <div class="messageBody no_margin_bottom">
    <%= t('warnings.yes_description') %>
  </div>
<% end %>

<%= render partial: '/shared/tag_usage', locals: { data: @mood.id, data_type: 'mood', user_id: @mood.user_id } %>
