.alert {
  background: $carmine;
  color: $white;
  padding: $size-10;
  text-align: center;
  border-radius: $size-4;

  &Dashboard {
    @include setMargin($size-0, $size-0, $size-26, $size-0);
  }

  &Text {
    color: $carmine;
  }
}
