@mixin button() {
  background: $white;
  border-radius: $size-4;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  color: $mulberry !important;
}

@mixin buttonHover() {
  &:hover {
    opacity: 0.5;
  }
}

@mixin buttonS() {
  font-size: $size-14;
  padding: $size-10;
}

@mixin buttonM() {
  font-size: $size-18;
  padding: $size-16;
}

@mixin buttonL() {
  font-size: $size-24;
  padding: $size-22;
  font-weight: bold;
}

@mixin buttonGhost() {
  background: $white-10;
  color: $white !important;
}

.buttonGhost {
  &S {
    @include button();
    @include buttonGhost();
    @include buttonS();
    @include buttonHover();
  }
  &M {
    @include button();
    @include buttonGhost();
    @include buttonM();
    @include buttonHover();
  }
  &L {
    @include button();
    @include buttonGhost();
    @include buttonL();
    @include buttonHover();
  }
}

.button {
  &S {
    @include button();
    @include buttonS();
    @include buttonHover();
  }
  &M {
    @include button();
    @include buttonM();
    @include buttonHover();
  }
  &L {
    @include button();
    @include buttonL();
    @include buttonHover();
  }
}