.center {
  text-align: center;
  &Margin {
    margin: 0 auto;
  }
}

.viewersIndicator {
  color: $dusty-rose;
  font-weight: bold;
  border: $size-1 solid $dusty-rose !important;
  box-shadow: 0 0 $size-2 $dusty-rose inset !important;
  padding: $size-10;
}

.fullWidth {
  display: block;
  width: 100%;
  margin: 0;
}
