.right {
  text-align: right;
}

.center {
  text-align: center;
  &Margin {
    margin: 0 auto;
  }
}

.no_center {
  text-align: left !important;
}

.spacer {
  width: 100%;
  height: $size-40;
  @media screen and (max-width: $medium) {
    height: $size-20;
  }
}

.no_title, .yes_title {
  width: auto;
}

.text_align_left {
  text-align: left !important;
}

.text_align_right {
  text-align: right !important;
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.spacing {
  margin-right: $size-10 !important;
  @media screen and (max-width: $medium) {
    margin-right: 0 !important;
    margin-bottom: $size-10 !important;
  }
}

.viewersIndicator {
  color: $dusty-rose;
  font-weight: bold;
  border: $size-1 solid $dusty-rose !important;
  box-shadow: 0 0 $size-2 $dusty-rose inset !important;
  padding: $size-10;
}
