.display_none {
  display: none;
}

.display_block {
  display: block !important;
}

.display_inline {
  display: inline !important;
}

.display_inline_block {
  display: inline-block !important;
}

.hideOnMobile {
  @media screen and (max-width: $small) {
    display: none;
  }
}