.error {
  &Field {
    width: auto;
    display: inherit;
    color: $carmine;
    font-weight: bold;
  }

  &Text {
    @include setFontSize($size-30);
    @include setMargin($size-0, $size-0, $size-40, $size-0);
    color: $carmine;
    font-weight: $font-weight-300;

    h2 {
      @include setFontSize($size-30);
      @include setMargin($size-0, $size-0, $size-20, $size-0);
      font-weight: $font-weight-300;
      padding: 0;
      color: $mulberry;
    }

    ul {
      @include setMargin($size-0, $size-0, $size-40, $size-0);
      padding-left: 0;
      list-style-position: inside;
    }
  }

  &Page {
    text-align: center;
  }
}
