@mixin inputStyle() {
  box-sizing: border-box;
  padding: $size-20;
  box-shadow: $size-0 $size-2 $size-10 $black-10;
  border-radius: $size-4;
  background: $white;
  border: none;
}

label {
  @include setFontSize($size-14);
  @include setPadding($size-12, $size-0, $size-12, $size-0);
  letter-spacing: 0.095em;
  text-transform: uppercase;
}

.label {
  @include setMargin($size-0, $size-0, $size-20, $size-0);
  width: auto;
  display: inherit;
}

.label i, .sidebar_label i {
  opacity: 0.5;
}

textarea {
  width: 50%;
  height: 100px;
}

input,
textarea,
select,
fieldset {
  @include setFontSize($size-20);
  @include inputStyle();
  @include setMargin($size-0, $size-10, $size-0, $size-0);
  @media screen and (max-width: $medium) {
    width: 100%;
  }
}

input[type="checkbox"],
input[type="radio"] {
  @include setMargin($size-0, $size-10, $size-0, $size-4);
  width: auto;
  height: auto;
  box-shadow: none;
}

.field input[type="text"],
.field input[type="passsword"],
.field input[type="email"] {
  @include setMargin(auto, $size-0, auto, auto);
}

.field,
.actions {
  @include setMargin($size-0, $size-0, $size-40, $size-0);
}
