label {
  @include setFontSize($size-14);
  padding: $size-12 0;
  letter-spacing: 0.095em;
  text-transform: uppercase;
}

.label {
  @include setMargin($size-0, $size-0, $size-20, $size-0);
  width: auto;
  display: inherit;
}

.label i, .sidebar_label i {
  opacity: 0.5;
}

textarea {
  width: 50%;
  height: 100px;
}

input,
textarea,
select,
fieldset {
  @include setFontSize($size-20);
  @include setMargin($size-0, $size-10, $size-0, $size-0);
  border-radius: $size-4;
  border: none;
  padding: $size-10;
  background-color: $white;
  box-sizing: border-box;
  @media screen and (max-width: $medium) {
    width: 100%;
  }
}

input[type="checkbox"],
input[type="radio"] {
  @include setMargin($size-0, $size-10, $size-0, $size-4);
  width: auto;
  height: auto;
  box-shadow: none;
}

.field input[type="text"],
.field input[type="passsword"],
.field input[type="email"] {
  @include setMargin(auto, $size-0, auto, auto);
}

.field,
.actions {
  @include setMargin($size-0, $size-0, $size-40, $size-0);
}

.full_field,
.name_field {
  width: 100%;
}

.toggle_button:link, .toggle_button:visited {
  @include setFontSize($size-26);
  color: $black;
  float: right;
}

.sidebar {
  @media screen and (min-width: $medium) {
    width: 30%;
  }
}

.sidebar_field {
  padding: 15px 15px 15px $size-0;
  @media screen and (max-width: $medium) {
    padding: $size-10 $size-10 $size-10 $size-0;
    width: 100%;
  }
}

.sidebar_label.expand_toggle label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.special_textarea {
  height: 200px;
}

textarea:focus, input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="email"]:focus{
  border-color: $black-20;
  box-shadow: $size-0 $size-0 $size-2 $black-20;
}