@mixin grid() {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin gridH1() {
  font-size: $size-20;
  line-height: $size-24;
  margin: $size-0 $size-0 $size-20 $size-0;
  @media screen and (max-width: $medium) {
    margin: $size-0 $size-0 $size-10 $size-0;
  }
}

@mixin gridTwoItem() {
  box-sizing: border-box;
  width: calc(50% - 20px);
  margin-bottom: $size-20;
  @media screen and (max-width: $medium) {
    width: 100%;
    padding: $size-10;
    margin-bottom: $size-20;
  }
}

@mixin gridThreeItem() {
  box-sizing: border-box;
  width: calc(33% - 20px);
  margin-bottom: $size-20;
  @media screen and (max-width: $medium) {
    width: 100%;
    padding: $size-10;
    margin-bottom: $size-20;
  }
}

@mixin gridItemBox() {
  box-sizing: border-box;
  padding: $size-20;
  margin-bottom: $size-20 * 2;
  box-shadow: $size-0 $size-2 $size-10 $black-10;
  border-radius: $size-4;
  @media screen and (max-width: $medium) {
    padding: $size-10;
  }
}

@mixin gridItemBoxLight() {
  @include gridItemBox();
  background: $white;
  color: $black;
  h1, h1 > a {
    @include gridH1();
    color: $mulberry;
   }
}

@mixin gridItemBoxDark() {
  @include gridItemBox();
  background: $mulberry-80;
  color: $white;
  h1, h1 > a {
    @include gridH1();
    color: $white;
   }
}

.grid {
  &Two {
    @include grid();
    &Item {
      @include gridTwoItem();
      &BoxLight {
        @include gridTwoItem();
        @include gridItemBoxLight();
      }
      &BoxDark {
        @include gridTwoItem();
        @include gridItemBoxDark();
      }
    }
  }

  &Three {
    @include grid();
    &Item {
      @include gridThreeItem();
      &BoxLight {
        @include gridThreeItem();
        @include gridItemBoxLight();
      }
      &BoxDark {
        @include gridThreeItem();
        @include gridItemBoxDark();
      }
    }
  }

  &Many {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    &Item {
      margin: $size-10;
      @media screen and (max-width: $medium) {
        margin: $size-4;
      }
    }
  }
}