.headline {
  color: $white;
  font-size: $size-40;

  @media screen and (max-width: $medium) {
    font-size: $size-26;
    line-height: $size-40;
  }

  @media screen and (max-width: $small) {
    font-size: $size-22;
    line-height: $size-36;
  }
}

.branding_title {
  font-family: $font-family;
  font-weight: $font-weight-300;
  text-transform: lowercase;
  color: $white;
}

.branding_subtitle {
  padding: $size-6 $size-0 $size-12 $size-0;
  border-top: $size-2 solid $white;
  border-bottom: $size-2 solid $white;

  @media screen and (max-width: $medium) {
    padding: $size-0 $size-0 4px $size-0;
  }
}

.subtle {
  color: $dusty-rose;
}