/* Images */

.signedInEmptyIcon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: $mulberry;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: $size-20;
  svg {
    width: auto;
    height: 100px;
  }
  @media screen and (max-width: $medium) {
    width: 130px;
    height: 130px;
    svg {
      width: auto;
      height: 80px;
    }
  }
  @media screen and (max-width: $small) {
    margin-right: $size-0;
    margin-bottom: $size-20;
  }
}

.notSignedInIcon {
  height: 180px;
  width: auto;
  @media screen and (max-width: $medium) {
    height: 160px;
  }
  @media screen and (max-width: $small) {
    height: 130px;
  }
}

.avatar {
  margin: 0;
  .portrait {
    background-color: $white;
  }
}

.dashboard_nav_profile_picture .portrait {
  width: 100%;
  height: auto;
}

.mini_profile_picture .portrait {
  width: 100px;
  height: 100px;
  @media screen and (max-width: $small) {
    width: 50px;
    height: 50px;
  }
}

.contributor_picture .portrait,
.profile_picture .portrait {
  width: 55px;
  height: 55px;
  @media screen and (min-width: $small + 1) {
    width: 150px;
    height: 150px;
  }
}

.home_picture .portrait {
  width: 50px;
  height: 50px;
  @media screen and (min-width: $medium + 1) {
    width: 100px;
    height: 100px;
  }
}

.small_profile_picture_div {
  .portrait {
    width: 100px;
    height: 100px;
    @media screen and (max-width: $small) {
      width: 50px;
      height: 50px;
    }
  }
  @media screen and (min-width: $medium) {
    width: $size-1;
  }
}

.profile_picture_div {
  .portrait {
    width: 150px;
    height: 150px;
    @media screen and (max-width: $small) {
      width: 55px;
      height: 55px;
    }
  }
  @media screen and (min-width: $medium) {
    width: $size-1;
  }
}