@mixin staticContentFakeLink() {
  text-decoration: none;
  color: $cornflower;
  &:hover {
    opacity: 0.5;
  }
}

@mixin staticContentLink() {
  a {
    @include staticContentFakeLink();
  }
}

@mixin dashboardSectionFakeLink() {
  text-decoration: none;
  color: $steel-blue;
  &:hover {
    opacity: 0.5;
  }
}

@mixin dashboardSectionLink() {
  a {
    @include dashboardSectionFakeLink();
  }
}

.anchor {
  border-bottom: $size-1 dotted $black;
  cursor: pointer;
}

a.gravatar:link,
a.gravatar:visited {
  text-decoration: none;
  border: none;
}

a.gravatar:hover {
  text-decoration: none;
  border: none;
  opacity: 0.5;
}

a.highlight:link,
a.highlight:visited {
  text-decoration: none;
  background-color: $mulberry;
  color: $white !important;
  padding: $size-10;
  @media screen and (max-width: $small) {
    padding: $size-4;
  }
}

a.highlight:hover {
  text-decoration: none;
  background-color: $mulberry;
  color: $white !important;
  opacity: 0.5;
  padding: $size-10;
  @media screen and (max-width: $small) {
    padding: $size-4;
  }
}