@mixin staticContentFakeLink() {
  @include standardTransition();
  text-decoration: none;
  color: $cornflower;
  &:hover {
    opacity: 0.5;
  }
}

@mixin staticContentLink() {
  a {
    @include staticContentFakeLink();
  }
}

@mixin dashboardSectionFakeLink() {
  text-decoration: none;
  color: $blumine;
  &:hover {
    opacity: 0.5;
  }
}

@mixin dashboardSectionLink() {
  a {
    @include dashboardSectionFakeLink();
  }
}
