.margin_right {
  margin-right: $size-40 !important;
}

.small_margin_right {
  margin-right: $size-20 !important;
}

.smaller_margin_right {
  margin-right: $size-10 !important;
}

.margin_left {
  margin-left: $size-40 !important;
}

.small_margin_left {
  margin-left: $size-20 !important;
}

.smaller_margin_left {
  margin-left: $size-10 !important;
}

.margin_top {
  margin-top: $size-40 !important;
}

.small_margin_top {
  margin-top: $size-20 !important;
}

.smaller_margin_top {
  margin-top: $size-10 !important;
}

.margin_bottom {
  margin-bottom: $size-40 !important;
}

.small_margin_bottom {
  margin-bottom: $size-20 !important;
}

.smaller_margin_bottom {
  margin-bottom: $size-10 !important;
}

.no_margin_top{
  margin-top: $size-0 !important;
}

.no_margin_bottom {
  margin-bottom: $size-0 !important;
}

.no_margin_left {
  margin-left: $size-0 !important;
}

.no_margin_right {
  margin-right: $size-0 !important;
}