@mixin overflowText() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.subtle {
  color: $eggplant;
}

.moment p {
  margin : 0;
}

p {
  word-wrap: break-word;
}

.purpleYay {
  @include setFontSize($size-30);
  color: $purple-yay;
  text-shadow: $size-0 $size-0 $size-4 $purple-yay;
}
