@import "~styles/_global";

.banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: $size-10;
  @include setPadding($size-10, $size-16, $size-10, $size-16);
  @include setMargin($size-0, $size-0, $size-20, $size-0);
  background-color: $mulberry-70;
  border: 1px solid $mulberry;
  border-radius: $size-4;
}

.message {
  flex: 1;
  color: $white-80;
  @include setFontSize($size-14);
}

.actions {
  display: flex;
  gap: $size-10;
}
