@import "../../styles/_global.scss";

@mixin dropdown(
  $padding: $size-14 47px $size-14 19px,
  $font-size: $size-18,
  $color: $white,
  $border-radius: $size-4,
  $border: none,
  $appearance: none
) {
  padding: $padding;
  font-size: $font-size;
  color: $color;
  border: $border;
  border-radius: $border-radius;
  /** TODO: Use PostCSS to add vendor prefixes **/
  -webkit-appearance: $appearance;
  -moz-appearance: $appearance;
  appearance: $appearance;
}


.dropdown {
  background: $white-10 url('./down.svg') no-repeat right 7px center;
  box-shadow: $size-0 $size-2 $size-6 $black-10;
  padding-left: $size-10;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &.fill_small {
    background-color: $mulberry;
    @include dropdown();
  }

  &.ghost {
    @include dropdown(
      $padding: 19px 47px 19px 19px,
      $font-size: $size-22
    );
  }

  &.ghost_small {
    @include dropdown();
  }
}
