<div class="center margin_bottom">
<%= form_for(:search, :url => posts_search_index_path, :html => { :method => :get }) do |f| %>

 	<%= f.text_field :name, placeholder: t('search.posts.search_by_name') %>

 	<%= f.hidden_field :data_type, :value => local_assigns[:data_type] %>
    <%= f.submit t('search.posts.search'), class: 'no_margin_right' %>
<% end %>
</div>
