.dashboardNav {
  flex-basis: 20vw;
  background: $black-30;
  border-radius: $size-16 $size-0 $size-0 $size-16;
  @media screen and (max-width: $medium) {
    display: none;
  }

  &Links {
    @include setFontSize($size-20);
    a {
      display: block;
      padding: $size-18 $size-26;
      text-decoration: none;
      border: none;
      color: $white;
      background: $black-20;
    }
    &Active {
      background: $white-70 !important;
      color: $mulberry-70 !important;
    }
    @media screen and (max-width: $medium) {
      text-align: center;
    }
  }

  &Actions {
    padding: $size-22 $size-26;
    > a {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}