.dashboardNav {
  flex-basis: 20vw;
  background: $black-30;
  border-radius: $size-16 $size-0 $size-0 $size-16;
  @media screen and (max-width: $medium) {
    display: none;
  }

  &Profile {
    width: 100%;
    box-sizing: border-box;
    padding: $size-22 $size-26;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &Picture {
      padding-right: $size-20;
      width: 40%;
      box-sizing: border-box;
    }
    &Info {
      @include setFontSize($size-18);
      color: $white;
      &Links {
        @include setFontSize($size-0);
        @include setMargin($size-14, $size-0, $size-0, $size-0);
        line-height: $size-40;
        > a {
          @include setMargin($size-0, $size-8, $size-0, $size-0);
        }
        > a:last-of-type {
          @include setMargin($size-0, $size-0, $size-0, $size-0);
        }
      }
    }
    @media screen and (max-width: $medium) {
      text-align: center;
      justify-content: center;
      &Picture {
        display: none;
      }
    }
    @media screen and (max-width: $large) {
      flex-direction: column;
      text-align: center;
      &Picture {
        padding: $size-0;
        width: 30%;
      }
    }
  }

  &Links {
    @include setFontSize($size-20);
    a {
      display: block;
      padding: $size-18 $size-26;
      text-decoration: none;
      border: none;
      color: $white;
      background: $black-20;
    }
    &Active {
      background: $white-70 !important;
      color: $mulberry-70 !important;
    }
    @media screen and (max-width: $medium) {
      text-align: center;
    }
  }

  &Actions {
    padding: $size-22 $size-26;
    > a {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}