.dashboardSection {
  flex-basis: 80vw;
  background: $white-80;
  border-radius: $size-0 15px 15px $size-0;
  padding: $size-44;
  @media screen and (max-width: $medium) {
    border-radius: 0;
    padding: 15px 10px;
    flex-basis: auto;
  }

  b, strong {
    color: $mulberry;
  }

  a {
    text-decoration: none;
    color: $steel-blue;
    &:hover {
      opacity: 0.5;
    }
  }

  .pageTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: $font-weight-300;
    font-size: $size-34;
    margin-bottom: $size-20;
    color: $mulberry;
    > div:last-of-type {
      margin-left: auto;
    }
    @media screen and (max-width: $small) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      > div:last-of-type {
        margin: $size-0;
      }
    }
  }

  a.page_edit,
  a.page_new,
  a.page_search {
    color: $mulberry;
  }

  .subtitle {
    font-size: $size-30;
    line-height: $size-36;
    color: $mulberry-70;
  }
}