@import "../../styles/_legacy.scss";

.tag {
  &:last-child{
    margin-right: 0;
  }

  padding: $size-5 $size-12;
  text-indent: 4px;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;

  font-family: $font-family;
  font-size: $size-10;
  text-align: center;
  letter-spacing: 1.$size-5;
  text-transform: uppercase;

  border-radius: $size-5;
  border: $size-1 solid $mulberry;

  mix-blend-mode: normal;
  color: $mulberry;

  &.dark {
    color: $white;
    border: $size-1;
    background-color: $mulberry;
  }

  &.normal {
    color: $white;
    border: $size-1;
    background-color: $white-10;
  }
}
