/**
 * This file contains the color palette for the Kujali interface.
 */

// Names from http://chir.ag/projects/name-that-color/
$black: #000000;
$gray-90: lighten($black, 90);
$white: #ffffff;

$hampton: #e2d6a8;
$mulberry-wood: #6d0839;
$teak: #b4a362;

$text-color: $black;
$text-color-reverse: $white;

$author-text-color: rgba(255, 255, 255, 0.5);

$logo-color-first: $white;
$logo-color-second: $hampton;

$avatar-default-background-color: $gray-90;

$footer-background-color: rgba($black, 0.5);

$input-ghost-background-color: rgba(255, 255, 255, 0.1);
$input-ghost-drop-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
$input-ghost-text-color: $white;
$input-filled-background-color: $mulberry-wood;
