/**
 * This file contains the color palette for the Kujali interface.
 */

$theme-color-1: #6d0839;
$theme-color-2: #d0e799;

$text-color: #000000;
$text-color-reverse: #ffffff;

$avatar-default-background-color: #eeeeee;
