/**
 * Font definitions
 */
 $full-set-cdn: 'https://cdn.jsdelivr.net/font-lato/2.0/Lato';
 $non-latin-range:
   U+180-52F,
   U+E3F,
   U+1D00-1FFF,
   U+2000-200F,
   U+2011-2012,
   U+2015-2017,
   U+201B,
   U+201F,
   U+2023-2025,
   U+2027-25FF,
   U+2700-FFFF;
 $latin-set-cdn: 'https://cdn.jsdelivr.net/npm/lato-latin-npm-webfont@0.0.3/fonts';
 $latin-range:
   U+00-17F,
   U+2010,
   U+2013-2014,
   U+2018-201A,
   U+201C-201E,
   U+2020-2022,
   U+2026,
   U+2039-203A;

 /* Webfont: Lato-Hairline */
 @font-face {
   font-family: 'Lato';
   src: url('#{$latin-set-cdn}/LatoLatin-Hairline.eot'); /* IE9 Compat Modes */
   src: url('#{$latin-set-cdn}/LatoLatin-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$latin-set-cdn}/LatoLatin-Hairline.woff') format('woff'), /* Modern Browsers */
        url('#{$latin-set-cdn}/LatoLatin-Hairline.ttf') format('truetype');
   font-style: normal;
   font-weight: 100;
   text-rendering: optimizeLegibility;
   unicode-range: $latin-range;
 }

 @font-face {
   font-family: 'Lato';
   src: url('#{$full-set-cdn}/Lato-Hairline.eot'); /* IE9 Compat Modes */
   src: url('#{$full-set-cdn}/Lato-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$full-set-cdn}/Lato-Hairline.woff') format('woff'), /* Modern Browsers */
        url('#{$full-set-cdn}/Lato-Hairline.ttf') format('truetype');
   font-style: normal;
   font-weight: 100;
   text-rendering: optimizeLegibility;
   unicode-range: $non-latin-range;
 }

 /* Webfont: Lato-HairlineItalic */
 @font-face {
   font-family: 'Lato';
   src: url('#{$latin-set-cdn}/LatoLatin-HairlineItalic.eot'); /* IE9 Compat Modes */
   src: url('#{$latin-set-cdn}/LatoLatin-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$latin-set-cdn}/LatoLatin-HairlineItalic.woff') format('woff'), /* Modern Browsers */
        url('#{$latin-set-cdn}/LatoLatin-HairlineItalic.ttf') format('truetype');
   font-style: italic;
   font-weight: 100;
   text-rendering: optimizeLegibility;
   unicode-range: $latin-range;
 }

 @font-face {
   font-family: 'Lato';
   src: url('#{$full-set-cdn}/Lato-HairlineItalic.eot'); /* IE9 Compat Modes */
   src: url('#{$full-set-cdn}/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$full-set-cdn}/Lato-HairlineItalic.woff') format('woff'), /* Modern Browsers */
        url('#{$full-set-cdn}/Lato-HairlineItalic.ttf') format('truetype');
   font-style: italic;
   font-weight: 100;
   text-rendering: optimizeLegibility;
   unicode-range: $non-latin-range;
 }

 /* Webfont: Lato-Thin */
 @font-face {
   font-family: 'Lato';
   src: url('#{$latin-set-cdn}/LatoLatin-Thin.eot'); /* IE9 Compat Modes */
   src: url('#{$latin-set-cdn}/LatoLatin-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$latin-set-cdn}/LatoLatin-Thin.woff') format('woff'), /* Modern Browsers */
        url('#{$latin-set-cdn}/LatoLatin-Thin.ttf') format('truetype');
   font-style: normal;
   font-weight: 200;
   text-rendering: optimizeLegibility;
   unicode-range: $latin-range;
 }

 @font-face {
   font-family: 'Lato';
   src: url('#{$full-set-cdn}/Lato-Thin.eot'); /* IE9 Compat Modes */
   src: url('#{$full-set-cdn}/Lato-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$full-set-cdn}/Lato-Thin.woff') format('woff'), /* Modern Browsers */
        url('#{$full-set-cdn}/Lato-Thin.ttf') format('truetype');
   font-style: normal;
   font-weight: 200;
   text-rendering: optimizeLegibility;
   unicode-range: $non-latin-range;
 }

 /* Webfont: Lato-ThinItalic */
 @font-face {
   font-family: 'Lato';
   src: url('#{$latin-set-cdn}/LatoLatin-ThinItalic.eot'); /* IE9 Compat Modes */
   src: url('#{$latin-set-cdn}/LatoLatin-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$latin-set-cdn}/LatoLatin-ThinItalic.woff') format('woff'), /* Modern Browsers */
        url('#{$latin-set-cdn}/LatoLatin-ThinItalic.ttf') format('truetype');
   font-style: italic;
   font-weight: 200;
   text-rendering: optimizeLegibility;
   unicode-range: $latin-range;
 }

 @font-face {
   font-family: 'Lato';
   src: url('#{$full-set-cdn}/Lato-ThinItalic.eot'); /* IE9 Compat Modes */
   src: url('#{$full-set-cdn}/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$full-set-cdn}/Lato-ThinItalic.woff') format('woff'), /* Modern Browsers */
        url('#{$full-set-cdn}/Lato-ThinItalic.ttf') format('truetype');
   font-style: italic;
   font-weight: 200;
   text-rendering: optimizeLegibility;
   unicode-range: $non-latin-range;
 }

 /* Webfont: Lato-Light */
 @font-face {
   font-family: 'Lato';
   src: url('#{$latin-set-cdn}/LatoLatin-Light.eot'); /* IE9 Compat Modes */
   src: url('#{$latin-set-cdn}/LatoLatin-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$latin-set-cdn}/LatoLatin-Light.woff') format('woff'), /* Modern Browsers */
        url('#{$latin-set-cdn}/LatoLatin-Light.ttf') format('truetype');
   font-style: normal;
   font-weight: 300;
   text-rendering: optimizeLegibility;
   unicode-range: $latin-range;
 }

 @font-face {
   font-family: 'Lato';
   src: url('#{$full-set-cdn}/Lato-Light.eot'); /* IE9 Compat Modes */
   src: url('#{$full-set-cdn}/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$full-set-cdn}/Lato-Light.woff') format('woff'), /* Modern Browsers */
        url('#{$full-set-cdn}/Lato-Light.ttf') format('truetype');
   font-style: normal;
   font-weight: 300;
   text-rendering: optimizeLegibility;
   unicode-range: $non-latin-range;
 }

 /* Webfont: Lato-LightItalic */
 @font-face {
   font-family: 'Lato';
   src: url('#{$latin-set-cdn}/LatoLatin-LightItalic.eot'); /* IE9 Compat Modes */
   src: url('#{$latin-set-cdn}/LatoLatin-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$latin-set-cdn}/LatoLatin-LightItalic.woff') format('woff'), /* Modern Browsers */
        url('#{$latin-set-cdn}/LatoLatin-LightItalic.ttf') format('truetype');
   font-style: italic;
   font-weight: 300;
   text-rendering: optimizeLegibility;
   unicode-range: $latin-range;
 }

 @font-face {
   font-family: 'Lato';
   src: url('#{$full-set-cdn}/Lato-LightItalic.eot'); /* IE9 Compat Modes */
   src: url('#{$full-set-cdn}/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$full-set-cdn}/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
        url('#{$full-set-cdn}/Lato-LightItalic.ttf') format('truetype');
   font-style: italic;
   font-weight: 300;
   text-rendering: optimizeLegibility;
   unicode-range: $non-latin-range;
 }

 /* Webfont: Lato-Regular */
 @font-face {
   font-family: 'Lato';
   src: url('#{$latin-set-cdn}/LatoLatin-Regular.eot'); /* IE9 Compat Modes */
   src: url('#{$latin-set-cdn}/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$latin-set-cdn}/LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
        url('#{$latin-set-cdn}/LatoLatin-Regular.ttf') format('truetype');
   font-style: normal;
   font-weight: 400;
   text-rendering: optimizeLegibility;
   unicode-range: $latin-range;
 }

 @font-face {
   font-family: 'Lato';
   src: url('#{$full-set-cdn}/Lato-Regular.eot'); /* IE9 Compat Modes */
   src: url('#{$full-set-cdn}/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$full-set-cdn}/Lato-Regular.woff') format('woff'), /* Modern Browsers */
        url('#{$full-set-cdn}/Lato-Regular.ttf') format('truetype');
   font-style: normal;
   font-weight: 400;
   text-rendering: optimizeLegibility;
   unicode-range: $non-latin-range;
 }

 /* Webfont: Lato-Italic */
 @font-face {
   font-family: 'Lato';
   src: url('#{$latin-set-cdn}/LatoLatin-Italic.eot'); /* IE9 Compat Modes */
   src: url('#{$latin-set-cdn}/LatoLatin-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$latin-set-cdn}/LatoLatin-Italic.woff') format('woff'), /* Modern Browsers */
        url('#{$latin-set-cdn}/LatoLatin-Italic.ttf') format('truetype');
   font-style: italic;
   font-weight: 400;
   text-rendering: optimizeLegibility;
   unicode-range: $latin-range;
 }

 @font-face {
   font-family: 'Lato';
   src: url('#{$full-set-cdn}/Lato-Italic.eot'); /* IE9 Compat Modes */
   src: url('#{$full-set-cdn}/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$full-set-cdn}/Lato-Italic.woff') format('woff'), /* Modern Browsers */
        url('#{$full-set-cdn}/Lato-Italic.ttf') format('truetype');
   font-style: italic;
   font-weight: 400;
   text-rendering: optimizeLegibility;
   unicode-range: $non-latin-range;
 }

 /* Webfont: Lato-Medium */
 @font-face {
   font-family: 'Lato';
   src: url('#{$latin-set-cdn}/LatoLatin-Medium.eot'); /* IE9 Compat Modes */
   src: url('#{$latin-set-cdn}/LatoLatin-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$latin-set-cdn}/LatoLatin-Medium.woff') format('woff'), /* Modern Browsers */
        url('#{$latin-set-cdn}/LatoLatin-Medium.ttf') format('truetype');
   font-style: normal;
   font-weight: 500;
   text-rendering: optimizeLegibility;
   unicode-range: $latin-range;
 }

 @font-face {
   font-family: 'Lato';
   src: url('#{$full-set-cdn}/Lato-Medium.eot'); /* IE9 Compat Modes */
   src: url('#{$full-set-cdn}/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$full-set-cdn}/Lato-Medium.woff') format('woff'), /* Modern Browsers */
        url('#{$full-set-cdn}/Lato-Medium.ttf') format('truetype');
   font-style: normal;
   font-weight: 500;
   text-rendering: optimizeLegibility;
   unicode-range: $non-latin-range;
 }

 /* Webfont: Lato-MediumItalic */
 @font-face {
   font-family: 'Lato';
   src: url('#{$latin-set-cdn}/LatoLatin-MediumItalic.eot'); /* IE9 Compat Modes */
   src: url('#{$latin-set-cdn}/LatoLatin-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$latin-set-cdn}/LatoLatin-MediumItalic.woff') format('woff'), /* Modern Browsers */
        url('#{$latin-set-cdn}/LatoLatin-MediumItalic.ttf') format('truetype');
   font-style: italic;
   font-weight: 500;
   text-rendering: optimizeLegibility;
   unicode-range: $latin-range;
 }

 @font-face {
   font-family: 'Lato';
   src: url('#{$full-set-cdn}/Lato-MediumItalic.eot'); /* IE9 Compat Modes */
   src: url('#{$full-set-cdn}/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$full-set-cdn}/Lato-MediumItalic.woff') format('woff'), /* Modern Browsers */
        url('#{$full-set-cdn}/Lato-MediumItalic.ttf') format('truetype');
   font-style: italic;
   font-weight: 500;
   text-rendering: optimizeLegibility;
   unicode-range: $non-latin-range;
 }

 /* Webfont: Lato-Semibold */
 @font-face {
   font-family: 'Lato';
   src: url('#{$latin-set-cdn}/LatoLatin-Semibold.eot'); /* IE9 Compat Modes */
   src: url('#{$latin-set-cdn}/LatoLatin-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$latin-set-cdn}/LatoLatin-Semibold.woff') format('woff'), /* Modern Browsers */
        url('#{$latin-set-cdn}/LatoLatin-Semibold.ttf') format('truetype');
   font-style: normal;
   font-weight: 600;
   text-rendering: optimizeLegibility;
   unicode-range: $latin-range;
 }

 @font-face {
   font-family: 'Lato';
   src: url('#{$full-set-cdn}/Lato-Semibold.eot'); /* IE9 Compat Modes */
   src: url('#{$full-set-cdn}/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$full-set-cdn}/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
        url('#{$full-set-cdn}/Lato-Semibold.ttf') format('truetype');
   font-style: normal;
   font-weight: 600;
   text-rendering: optimizeLegibility;
   unicode-range: $non-latin-range;
 }

 /* Webfont: Lato-SemiboldItalic */
 @font-face {
   font-family: 'Lato';
   src: url('#{$latin-set-cdn}/LatoLatin-SemiboldItalic.eot'); /* IE9 Compat Modes */
   src: url('#{$latin-set-cdn}/LatoLatin-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$latin-set-cdn}/LatoLatin-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
        url('#{$latin-set-cdn}/LatoLatin-SemiboldItalic.ttf') format('truetype');
   font-style: italic;
   font-weight: 600;
   text-rendering: optimizeLegibility;
   unicode-range: $latin-range;
 }

 @font-face {
   font-family: 'Lato';
   src: url('#{$full-set-cdn}/Lato-SemiboldItalic.eot'); /* IE9 Compat Modes */
   src: url('#{$full-set-cdn}/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$full-set-cdn}/Lato-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
        url('#{$full-set-cdn}/Lato-SemiboldItalic.ttf') format('truetype');
   font-style: italic;
   font-weight: 600;
   text-rendering: optimizeLegibility;
   unicode-range: $non-latin-range;
 }

 /* Webfont: Lato-Bold */
 @font-face {
   font-family: 'Lato';
   src: url('#{$latin-set-cdn}/LatoLatin-Bold.eot'); /* IE9 Compat Modes */
   src: url('#{$latin-set-cdn}/LatoLatin-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$latin-set-cdn}/LatoLatin-Bold.woff') format('woff'), /* Modern Browsers */
        url('#{$latin-set-cdn}/LatoLatin-Bold.ttf') format('truetype');
   font-style: normal;
   font-weight: 700;
   text-rendering: optimizeLegibility;
   unicode-range: $latin-range;
 }

 @font-face {
   font-family: 'Lato';
   src: url('#{$full-set-cdn}/Lato-Bold.eot'); /* IE9 Compat Modes */
   src: url('#{$full-set-cdn}/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$full-set-cdn}/Lato-Bold.woff') format('woff'), /* Modern Browsers */
        url('#{$full-set-cdn}/Lato-Bold.ttf') format('truetype');
   font-style: normal;
   font-weight: 700;
   text-rendering: optimizeLegibility;
   unicode-range: $non-latin-range;
 }

 /* Webfont: Lato-BoldItalic */
 @font-face {
   font-family: 'Lato';
   src: url('#{$latin-set-cdn}/LatoLatin-BoldItalic.eot'); /* IE9 Compat Modes */
   src: url('#{$latin-set-cdn}/LatoLatin-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$latin-set-cdn}/LatoLatin-BoldItalic.woff') format('woff'), /* Modern Browsers */
        url('#{$latin-set-cdn}/LatoLatin-BoldItalic.ttf') format('truetype');
   font-style: italic;
   font-weight: 700;
   text-rendering: optimizeLegibility;
   unicode-range: $latin-range;
 }

 @font-face {
   font-family: 'Lato';
   src: url('#{$full-set-cdn}/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
   src: url('#{$full-set-cdn}/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$full-set-cdn}/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
        url('#{$full-set-cdn}/Lato-BoldItalic.ttf') format('truetype');
   font-style: italic;
   font-weight: 700;
   text-rendering: optimizeLegibility;
   unicode-range: $non-latin-range;
 }

 /* Webfont: Lato-Heavy */
 @font-face {
   font-family: 'Lato';
   src: url('#{$latin-set-cdn}/LatoLatin-Heavy.eot'); /* IE9 Compat Modes */
   src: url('#{$latin-set-cdn}/LatoLatin-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$latin-set-cdn}/LatoLatin-Heavy.woff') format('woff'), /* Modern Browsers */
        url('#{$latin-set-cdn}/LatoLatin-Heavy.ttf') format('truetype');
   font-style: normal;
   font-weight: 800;
   text-rendering: optimizeLegibility;
   unicode-range: $latin-range;
 }

 @font-face {
   font-family: 'Lato';
   src: url('#{$full-set-cdn}/Lato-Heavy.eot'); /* IE9 Compat Modes */
   src: url('#{$full-set-cdn}/Lato-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$full-set-cdn}/Lato-Heavy.woff') format('woff'), /* Modern Browsers */
        url('#{$full-set-cdn}/Lato-Heavy.ttf') format('truetype');
   font-style: normal;
   font-weight: 800;
   text-rendering: optimizeLegibility;
   unicode-range: $non-latin-range;
 }

 /* Webfont: Lato-HeavyItalic */
 @font-face {
   font-family: 'Lato';
   src: url('#{$latin-set-cdn}/LatoLatin-HeavyItalic.eot'); /* IE9 Compat Modes */
   src: url('#{$latin-set-cdn}/LatoLatin-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$latin-set-cdn}/LatoLatin-HeavyItalic.woff') format('woff'), /* Modern Browsers */
        url('#{$latin-set-cdn}/LatoLatin-HeavyItalic.ttf') format('truetype');
   font-style: italic;
   font-weight: 800;
   text-rendering: optimizeLegibility;
   unicode-range: $latin-range;
 }

 @font-face {
   font-family: 'Lato';
   src: url('#{$full-set-cdn}/Lato-HeavyItalic.eot'); /* IE9 Compat Modes */
   src: url('#{$full-set-cdn}/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$full-set-cdn}/Lato-HeavyItalic.woff') format('woff'), /* Modern Browsers */
        url('#{$full-set-cdn}/Lato-HeavyItalic.ttf') format('truetype');
   font-style: italic;
   font-weight: 800;
   text-rendering: optimizeLegibility;
   unicode-range: $non-latin-range;
 }

 /* Webfont: Lato-Black */
 @font-face {
   font-family: 'Lato';
   src: url('#{$latin-set-cdn}/LatoLatin-Black.eot'); /* IE9 Compat Modes */
   src: url('#{$latin-set-cdn}/LatoLatin-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$latin-set-cdn}/LatoLatin-Black.woff') format('woff'), /* Modern Browsers */
        url('#{$latin-set-cdn}/LatoLatin-Black.ttf') format('truetype');
   font-style: normal;
   font-weight: 900;
   text-rendering: optimizeLegibility;
   unicode-range: $latin-range;
 }

 @font-face {
   font-family: 'Lato';
   src: url('#{$full-set-cdn}/Lato-Black.eot'); /* IE9 Compat Modes */
   src: url('#{$full-set-cdn}/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$full-set-cdn}/Lato-Black.woff') format('woff'), /* Modern Browsers */
        url('#{$full-set-cdn}/Lato-Black.ttf') format('truetype');
   font-style: normal;
   font-weight: 900;
   text-rendering: optimizeLegibility;
   unicode-range: $non-latin-range;
 }

 /* Webfont: Lato-BlackItalic */
 @font-face {
   font-family: 'Lato';
   src: url('#{$latin-set-cdn}/LatoLatin-BlackItalic.eot'); /* IE9 Compat Modes */
   src: url('#{$latin-set-cdn}/LatoLatin-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$latin-set-cdn}/LatoLatin-BlackItalic.woff') format('woff'), /* Modern Browsers */
        url('#{$latin-set-cdn}/LatoLatin-BlackItalic.ttf') format('truetype');
   font-style: italic;
   font-weight: 900;
   text-rendering: optimizeLegibility;
   unicode-range: $latin-range;
 }

 @font-face {
   font-family: 'Lato';
   src: url('#{$full-set-cdn}/Lato-BlackItalic.eot'); /* IE9 Compat Modes */
   src: url('#{$full-set-cdn}/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$full-set-cdn}/Lato-BlackItalic.woff') format('woff'), /* Modern Browsers */
        url('#{$full-set-cdn}/Lato-BlackItalic.ttf') format('truetype');
   font-style: italic;
   font-weight: 900;
   text-rendering: optimizeLegibility;
   unicode-range: $non-latin-range;
 }
