@import './base';

.avatar {
  display: inline-block;

  font-family: $font-family;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  img {
    border-radius: 50%;
    border: 5px solid;
    border-color: $background-color;
  }

  div {
    text-shadow: 0px 2px rgba(0, 0, 0, 0.25);
  }

  &.white {
    color: $background-color;
  }
}
