@import "base.scss";

.label {
  font-family: $font-family;
  padding: 12px 0;
  letter-spacing: 0.0944444em;
  text-indent: 4px;
  text-transform: uppercase;
  opacity: 0.5;
}

.labelLight {
  composes: label;
  color: #ffffff;
  font-size: $font18;
}

.labelDark {
  composes: label;
  color: $container-color;
  font-size: 14px;
}

.input {
  color: rgba(255, 255, 255, 0.8);
  font-family: $font-family;
  font-weight: 300;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  text-indent: 24px;
  width: 100%;

  &::placeholder {
    color: rgba(255, 255, 255, 0.75);
    font-family: $font-family;
    font-weight: 300;
  }
}

.inputLight {
  composes: input;
  height: 68px;
  font-size: $font24;
  background-color: rgba(0, 0, 0, 0.35);
}

.inputDark {
  composes: input;
  height: 49px;
  font-size: $font18;
  background-color: $container-color;
  opacity: 0.7;
}
