@import "base.scss";

.label {
  font-family: $font-family;
  padding: 12px 0;
  letter-spacing: 1px;
  text-indent: 4px;
  text-transform: uppercase;
  opacity: 0.5;
}

.labelLight {
  composes: label;
  color: $background-color;
  font-size: $font18;
}

.labelDark {
  composes: label;
  color: $container-color;
  font-size: $small-font;
}

.input {
  color: rgba(255, 255, 255, 0.8);
  font-family: $font-family;
  font-weight: 300;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 6px $field-color;
  width: 100%;

  &::placeholder {
    color: $background-color;
    font-family: $font-family;
    font-weight: 300;
    opacity: 0.75;
  }
}

.inputLight {
  composes: input;
  height: 68px;
  font-size: $font24;
  background-color: $field-color;
  text-indent: 24px;
}

.inputDark {
  composes: input;
  height: 49px;
  font-size: $font18;
  background-color: $container-color;
  text-indent: 15px;
  opacity: 0.7;
}
