@import "base.scss";

.container {
  display: inline-block;
  width: 3em;
  height: 3em;
  box-sizing: border-box;

  background-color: $container-color;

  font-family: 'Lato', sans-serif;
  font-size: $font30;
  line-height: $font30;
  font-weight: 300;
  text-transform: lowercase;

  margin: 0;
  padding: 0.8em 0.4em 0;
  outline: 0;

  @media screen and (max-width: $small) {
    font-size: $font20;
    line-height: $font20;
  }

  &.small {
    font-size: $font20;
    line-height: $font20;
  }

  .if {
    color: $header-text-color;
  }

  .me {
    display: inline-block;
    border-bottom: 0.05em solid $highlight-text-color;
    border-top: 0.05em solid $highlight-text-color;
    color: $highlight-text-color;
    margin: 0 0 0 0.3em;
    padding: 0 0 0.25em;
  }
}
