@import "base.scss";
.container{

    ul{
    width: 360px;
    height: auto;
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    line-height: normal;
    }

li a{
    background-color: rgba(0, 0, 0, 0.5);
    fill-opacity: 0.2;
    display: block;
    padding: 16px 16px 16px 30px;
  text-decoration: none;
  color: rgba(255, 255, 255,0.7);
}

li a:hover{
    background: rgba(255, 255, 255,0.7);
color: rgba(109, 8, 57, 0.7);
padding-left: 250px;

}
}

.secondaryList{
    li a{ 
    padding-top: 9px;
    padding-bottom: 9px;
     text-indent: 15px;
     font-weight: bold;
     color: rgba(255, 255,255,0.7);
     background: rgba(0,0,0,0.45);
    }
    
    li a:hover{
        background: rgba(0,0,0,0.2);
        color: rgba(255, 255, 255,0.7);
        padding-left: 25px;
        }
}