@import "base.scss";

.label
{
  padding: 5px 12px;
  text-indent: 4px;
  display: inline-block;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.0944444em;
  text-transform: uppercase;

  border-radius: 7px;
  border: 1px solid #6D0839;

  mix-blend-mode: normal;
  color: #6D0839;

  &.dark{
    color: #FFFFFF ;
    border: 1px;
    background-color: #6D0839;

  }

  &.normal{
    color: #FFFFFF;
    border: 1px;
    background-color: rgba(255, 255, 255, 0.1);

      }
}
