
@import "base.scss";
.container{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #6D0839;
  border-radius: 5px;
  }
.text{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.0944444em;
  text-transform: uppercase;

  color: #FFFFFF;
  mix-blend-mode: normal;
}
