@import "../../styles/_global.scss";

.label {
  @include setFontSize($size-14);
  color: $mulberry;
  padding: $size-12 4px;
  letter-spacing: 0.095em;
  text-transform: uppercase;
  transition: 0.25s;
  transition-timing-function: linear;
  &.active {
    color: $mulberry-70;
  }
}

.textarea {
  @include setFontSize($size-18);
  color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  background-color: $mulberry;
  font-weight: $font-weight-300;
  outline: none;
  border: none;
  resize: none;
  border-radius: $size-4;
  box-shadow: $size-0 $size-2 $size-6 $black-20;
  width: 100%;
  transition: 0.25s;
  transition-timing-function: linear;
  padding: $size-18 $size-16;
  &:focus {
    background-color: $mulberry-70;
    color: $white;
  }
  &::placeholder {
    @include setFontSize($size-18);
    font-weight: $font-weight-300;
    color: $white;
    opacity: 0.75;
  }
}
