@import "../../styles/_legacy.scss";
@import "../../styles/_base.scss";

$focus-background-color-darken: rgba(0, 0, 0, 0.4);
$focus-background-color-lighten: lighten($container-color, 3%);
$light-font-weight: 300;

.label {
  color: $container-color;
  font-family: $font-family;
  font-size: $small-font;
  padding: 12px 4px;
  letter-spacing: 0.095em;
  text-transform: uppercase;
  transition: 0.25s;
  transition-timing-function: linear;

  &.active {
    color: $focus-background-color-lighten;
  }
}

.textarea {
  color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  background-color: $container-color;
  font-family: $font-family;
  font-size: $font18;
  line-height: $font26;
  font-weight: $light-font-weight;
  outline: none;
  border: none;
  resize: none;
  border-radius: 5px;
  box-shadow: 0px 2px 6px $field-color;
  width: 100%;
  transition: 0.25s;
  transition-timing-function: linear;
  padding: 18px 16px;

  &:focus {
    background-color: $focus-background-color-lighten;
    color: $background-color;
  }

  &::placeholder {
    font-family: $font-family;
    font-weight: $light-font-weight;
    font-size: $font18;
    color: $background-color;
    opacity: .75;
  }
}
