@import "../../styles/_legacy.scss";
@import "../../styles/_base.scss";

.text {
  display: inline-block;
  position: relative;

  background-color: rgba(255, 255, 255, 0.1);
  font-family: Lato, sans-serif;
  font-style: italic;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  align-content: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

  width: 100%;
  padding: 20px;
  @media screen and (min-width: 960px) {
    padding: 50px;
    font-size: 36px;
  }

  color: white;

  .author {
    margin-top: 10px;
  }
}
