<div id="notifications" class="display_none">
  <div id="notifications_text">

    <%= render partial: '/shared/modal',
      locals: {
        modal_title: t('notifications.plural'),
        modal_close_id: 'close_categories_moods',
        modal_clear: t('notifications.clear')
      }
    %>

    <div class="modal_text">
      <i id="notifications_none" class="display_none"><%= t('notifications.none') %></i>
      <div id="notifications_list"></div>
    </div>
  </div>
</div>
