.secretShareContent {
  width: 100%;
  box-sizing: border-box;
  padding: 50px 25px;
  background: $white-80;
  margin-top: $nav-height;

  @media screen and (max-width: $medium) {
    margin-top: 0;
  }

  @include dashboardSectionStyles();
}
