.secretShareContent {
  width: 100%;
  box-sizing: border-box;
  padding: $size-50 $size-25;
  background: $white-80;
  margin-top: $nav-height;

  @media screen and (max-width: $medium) {
    margin-top: 0;
  }

  @include dashboardSectionStyles;
}
