.secretShareContent {
  width: 100%;
  box-sizing: border-box;
  padding: 50px 25px;
  background: $white-80;
  @include dashboardSectionStyles();
}

.secretShare {
  form {
    #secretShareLink {
      background-color: $white;
      color: $mulberry;
      font-size: 1em;
    }
  }
}
