<%= form_for(@group) do |f| %>
  <% common_inputs = [
    {
      id: 'group_name',
      type: 'text',
      name: 'group[name]',
      label: t('common.name'),
      value: @group.name || nil,
      required: true,
      dark: true
    },
    {
      id: 'group_description',
      type: 'textarea',
      name: 'group[description]',
      label: t('common.form.description'),
      value: @group.description || nil,
      required: true,
      dark: true
    }
  ] %>
  <% submit_field = {
    id: 'submit',
    type: 'submit',
    value: t('common.actions.submit'),
    dark: true
  } %>
  <%
    edit_inputs = nil
    if action_name == 'edit' || action_name == 'update'
      edit_inputs = common_inputs
      checkboxes = []
      @group.group_members.each do |member|
        checkboxes.push({
          id: "group_leader_#{member.user_id}",
          name: 'group[leader][]',
          value: member.user_id,
          checked: member.leader,
          label: link_to(member.user.name, profile_index_path(uid: get_uid(member.user_id)))
        })
      end
      edit_inputs.push({
        id: 'group_leader',
        name: 'group[leader]',
        type: 'checkboxGroup',
        checkboxes: checkboxes,
        label: t('groups.form.leaders'),
        dark: true,
        required: true
      })
      edit_inputs.push(submit_field)
    end
  %>
  <%= react_component('Form', props: {
    inputs: edit_inputs || common_inputs.push(submit_field)
  }) %>
  <div class="small_margin_top subtle">
    <%= t('groups.form.cannot_delete') %>
  </div>
<% end %>
