<% title @group.name %>
<% page_new new_meeting_path(group_id: @group.id) %>
<%= render partial: '/groups/story_body', locals: { group: @group } %>
<% if user_is_leader_of?(@group) %>
  <div class="gridItemBoxDark small_margin_top">
    <%= react_component('StoryActions', props: {
      dark: true,
      actions: {
        leave: user_can_leave?(@group) ? {
          name: t('common.actions.leave'),
          link: group_membership_path(group_id: @group.id, id: 'leave'),
          dataConfirm: t('common.actions.confirm'),
          dataMethod: 'delete'
        } : nil,
        edit: user_can_edit?(@group) ? {
          name: t('common.actions.edit'),
          link: edit_group_path(@group)
        } : nil,
        delete: user_can_delete?(@group) ? {
          name: t('common.actions.delete'),
          link: url_for(@group),
          dataConfirm: t('common.actions.confirm'),
          dataMethod: 'delete'
        } : nil
      }
    }) %>
  </div>
<% end %>

<% if @meetings.present? %>
  <div class="gridTwo small_margin_top">
    <% @meetings.each do |meeting| %>
      <div class="gridTwoItemBoxLight">
        <%= react_component('Story', html_options: html_options, props: {
          prerender: true,
          name: meeting.name,
          link: url_for(meeting),
          actions: {
            edit: user_is_leader_of?(meeting) ? {
              name: t('common.actions.edit'),
              link: edit_meeting_path(meeting)
            } : nil,
            delete: meeting.leaders.include?(current_user) ? {
              name: t('common.actions.delete'),
				      link: url_for(meeting),
				      dataConfirm: t('common.actions.confirm'),
				      dataMethod: 'delete'
            } : nil
          },
          body: render(partial: '/meetings/story_body', locals: { meeting: meeting })
        }) %>
      </div>
    <% end %>
  </div>
<% end %>
