@mixin fadeIn($duration) {
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;

  @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
}

@mixin linearTransition($duration) {
  transition: $duration;
  transition-timing-function: linear;
}

@mixin standardTransition() {
  transition: all 0.2s ease-in-out;
}
