// This file contains the base colors for the application.

// Colors for text
$primary-text-color: #000;
$secondary-text-color: #6D0839;
$link-color: #02779E;

// Colors for page elements
$container-color: #6D0839;  // Color for header, tables, boxes, etc.