// This file contains the base colors for the application.

// Text
$primary-text-color: #000;
$secondary-text-color: #6D0839;
$highlight-text-color: #D0E799;
$header-text-color: #fff;
$link-color: #02779E;
$subtle-secondary-text-color: #b5839b;
$overlay-color: rgba(225, 205, 215, 0.2);
$field-color: rgba(0, 0, 0, 0.2);
$purple-yay: #A157E8;

// Notices & Alerts
$notice-color: #289900;
$alert-color: #990019;

// General page elements
$container-color: #6D0839;  // Color for header, tables, boxes, etc.
$background-color: #fff;
$transparent: rgba(255, 255, 255, 0);
