// This file contains the base colors for the application.

// Black
$black: #000000;
$black-90: rgba(0, 0, 0, 0.9);
$black-80: rgba(0, 0, 0, 0.8);
$black-70: rgba(0, 0, 0, 0.7);
$black-50: rgba(0, 0, 0, 0.5);
$black-30: rgba(0, 0, 0, 0.3);
$black-20: rgba(0, 0, 0, 0.2);
$black-10: rgba(0, 0, 0, 0.1);

// Grey
$grey: #808080;
$light-grey:#D3D3D3;

// White
$white: #FFFFFF;
$white-80: rgba(255, 255, 255, 0.8);
$white-70: rgba(255, 255, 255, 0.7);
$white-20: rgba(255, 255, 255, 0.2);
$white-10: rgba(255, 255, 255, 0.1);

// Mulberry
$mulberry: #6d0839;
$mulberry-90: rgba(109, 8, 57, 0.9);
$mulberry-80: rgba(109, 8, 57, 0.8);
$mulberry-70: rgba(109, 8, 57, 0.7);
$mulberry-50: rgba(109, 8, 57, 0.5);

// Key Lime
$key-lime: #D0E799;

// Miscellaneous
$eggplant: #704356;
$limeade: #289900;
$carmine: #990019;
$mulberry-key-lime: linear-gradient(104.26deg, $mulberry 0%, $key-lime 175.81%);
$purple-yay: #A157E8;
$blumine: #175C6D;
$cornflower: #91D7E8;
