@mixin setFontSize($font-size) {
  font-size: $font-size;
  @media screen and (max-width: $medium) {
    font-size: $font-size - $size-2;
  }
}

$font-family: 'Lato', sans-serif;

$font-weight-100: 100;
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
