$size-0: 0px;
$size-1: 1px;
$size-2: 2px;
$size-4: 4px;
$size-6: 6px;
$size-8: 8px;
$size-10: 10px;
$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-22: 22px;
$size-24: 24px;
$size-26: 26px;
$size-28: 28px;
$size-30: 30px;
$size-32: 32px;
$size-34: 34px;
$size-35: 35px;
$size-36: 36px;
$size-38: 38px;
$size-40: 40px;
$size-42: 42px;
$size-44: 44px;
$size-46: 46px;
$size-48: 48px;
$size-50: 50px;
