$size-0: 0px;
$size-12: 12px;
$size-14: 12px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-22: 22px;
$size-24: 24px;
$size-26: 26px;
$size-27: 27px;
$size-30: 30px;
$size-34: 34px;
$size-40: 40px;
