// This file contains the base fonts-sizes for the application.

$body_font_size: 20px;
$font12: 12px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font24: 24px;
$font26: 26px;
$font27: 27px;
$font30: 30px;
$font34: 34px;
$emphasis: 28px;
$emphasis_small: 28px;
$small_font: 14px;
$page_title: 40px;