// This file contains the base fonts-sizes for the application.

$body-font-size: 20px;
$font-zero: 0px;
$font12: 12px;
$font14: 12px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font22: 22px;
$font24: 24px;
$font26: 26px;
$font27: 27px;
$font30: 30px;
$font34: 34px;
$small-font: 14px;
$page-title: 40px;
$xl: 400;
$lg: 300;
$md: 200;
$sm: 100;
