<div class="gridMany">
  <% if notice.present? %>
    <div role="region" aria-live="polite" class="notice"><%= notice %></div>
  <% end %>
  <% if alert.present? %>
    <div role="alert" class="alert"><%= alert %></div>
  <% end %>
</div>
