<label class="switch">
  <% if local_assigns[:published] %>
    <%= check_box_tag 'publishing', 1, true, {id:'togBtn'} %>
  <% else %>
    <%= check_box_tag 'publishing', 1, false, {id:'togBtn'} %>
  <% end %>
  <div class="slider round">
    <span class="on"><%= I18n.t 'common.actions.submit_publish' %></span>
    <span class="off"><%= I18n.t 'common.actions.submit_draft' %></span>
  </div>
</label>
