<div id="header-container" class="grid">
  <div id="header-content" class="grid">
    <%= image_tag(attachments['logo@2x.png'].url) %>
    <h2 id="header-title">a community for mental health experiences</h2>
    <hr>
  </div>
</div>
