<div class="header-container grid">
  <div class="header-content grid">
    <%= image_tag(attachments['logo@2x.png'].url, alt: 'Ifme Logo') %>
    <h2 class="header-title"><%= t('app_description') %></h2>
    <hr>
  </div>
</div>
