<div id="header-container" class="grid">
  <div id="header-content" class="grid">
    <%= image_tag(attachments['logo@2x.png'].url) %>
    <div id="header-title">
      <h1>if-me.org</h1>
      <h2>a community for mental health experiences</h2>
    </div>
  </div>
</div>

