<% if user_signed_in? %>
  <span id="title_expand" class="expand_button header-logo">
    <span class="logo-text">If <span id="me" class="me">Me</span></span>
      <i class="expand fa fa-sort-down"></i>
  </span>
<% else %>
  <a id="title_expand" class="expand_button header-logo" href=<%= root_path %>>
    <span class="logo-text">If <span id="me" class="me">Me</span></span>
  </a>
<% end %>
