<% if user_signed_in? %>
  <span data-nav-name="me" class="header-logo">
    <span class="logo-text">If <span id="me" class="me">Me</span></span>
      <i class="expand fa fa-sort-desc"></i>
  </span>
<% else %>
  <a data-nav-name="me" class="header-logo" href=<%= root_path %>>
    <span class="logo-text">If <span id="me" class="me">Me</span></span>
  </a>
<% end %>
