<span data-nav-name="me" class="header-logo">
  <% if user_signed_in? %>
    If <span id="me" class="me">Me</span>
    <i class="expand fa fa-sort-desc"></i>
  <% else %>
    <a href=<%= root_path %>>If <span id="me" class="me">Me</span></a>
  <% end %>
</span>