<div class="titlebar gridRowSpaceBetween">
  <div>
    <h1 class="notification_name"><%= local_assigns[:modal_title] %></h1>
  </div>
  <div class="gridRowSpaceBetween">
    <% if local_assigns[:modal_clear] %>
      <% if Notification.all.any? %>
        <h1 id="clear_notifications" class="small_margin_right"><%= local_assigns[:modal_clear] %></h1>
      <% else %>
      <% end %>
      <h1 id="close_notifications"><i class="fa fa-times"></i></h1>
    <% elsif local_assigns[:modal_close_class] %>
      <h1 class=<%= "#{local_assigns[:modal_close_class].to_s}" %>><i class="fa fa-times"></i></h1>
    <% end %>
  </div>
</div>
