<% if notice.present? %>
  <% if current_page?(root_path) %>
    <div class="notice display_none"><%= notice %></div>
  <% else %>
    <div class="notice"><%= notice %></div>
  <% end %>
<% end %>
<% if alert.present? %>
  <% if current_page?(root_path) %>
    <div class="alert display_none"><%= alert %></div>
  <% else %>
    <div class="alert"><%= alert %></div>
  <% end %>
<% end %>