<div class="viewersIndicator">
  <% viewers = local_assigns[:data].viewers %>
  <%= number_of_viewers(local_assigns[:data].user_id, current_user&.id, viewers) %>

  <% if !local_assigns[:data].comment %>
    <%= t('shared.viewers_indicator.disabled_comments') %>
  <% end %>
</div>
