@import "./_legacy.scss";
@import "./_global_font.scss";

body, html {
  @include setFontSize($size-20);
  margin: 0 auto;
  font-family: $font-family;
  font-weight: $font-weight-400;
  line-height: 1.4;
}
