<div class="gridManyItem center">
  <%= react_component('Modal', props: {
    element: { component: 'Avatar', props: { src: ProfilePicture.normalize_url(blurb["image"]), name: blurb['name'], alt: "Contributor: #{blurb['name']}"} },
    title: nil,
    body: blurb["profile"]
  }) %>

 
</div>