<div class="gridManyItem center">
  <%= react_component('Modal', props: {
    element: ProfilePicture.fetch(blurb["image"], name: blurb['name']),
    title: nil,
    body: blurb["profile"]
  }) %>

  <div class="smallMarginTop">
    <i class="fa fa-location-arrow fa-inline"></i><%= " #{blurb["location"]}" %>
    <br /><%= content_tag(:i, '', class: "#{get_icon_class(blurb["social"])} fa-inline") %><%= link_to(blurb["link_name"], blurb["link"], target: 'blank') %>
  </div>
</div>