<div class="main_message">
	Better communication with loved ones leads to better mental health.
</div>
<div class="message_text">
	We need each other's support to break down stigmas.
	<div class="spacer"></div>
</div>
<div class="center">
	<div class="message">
		<div class="message_row">
			<div class="message_cell">
				<div id="book"></div>
				<div class="icon_border"></div>
				Share your stories with loved ones and get the support you deserve
			</div>
			<div class="message_cell">
				<div id="you"></div>
				<div class="icon_border"></div>
				Be you, no strings attached and with security and privacy
			</div>
			<div class="message_cell no_margin_bottom">
				<div id="time"></div>
				<div class="icon_border"></div>
				Document your moods, medications, and self-care
			</div>
		</div>
	</div>
</div>
<div class="spacer"></div>
<div class="divider"></div>
<div class="main_message">
	<div class="spacer"></div>
	We are open source because mental health should be open.
</div>
<div class="message_text">
	We are <strong>always</strong> looking for your <%= link_to('help', contributors_path) %> and <%= link_to('feedback', 'http://goo.gl/forms/8EqoJDDiXY') %>!
</div>