<p>if me is a community for mental health experiences that encourages people to share their stories intimiately with the people they trust. It's important to have the people in your daily life involved in the discussion. They can be friends, family members, co-workers, teachers, or mental health experts.</p>

<p>Dealing with mental health is what makes us human. But for a lot of us, it's a struggle to be open about it.</p>

<p>Not everyone is a counsellor or therapist. Nonetheless, being open to the people we interact with everyday is the key leading a more happier and productive life. These people shape our emotions and behaviours.</p>

<p>Mental health is such an individual and unique experience. No two brains are alike! Tackling the problem requires ideas from everyone, which is why the project is open-source.</p>

If you are interested in helping out, fork the repository hosted on <a href="https://github.com/julianguyen/ifme" target="_blank">GitHub</a> and reach out to <a href="mailto:tojulianguyen@gmail.com">Julia Nguyen</a>, the creator of the project.