<script type="text/javascript">
	$(document).ready(function() {

		$.getJSON("https://api.github.com/repos/julianguyen/ifme/contributors", function (data) {
      		_.each(data, function(dataItem) {
      			if(dataItem.login != "julianguyen") {
      				var contributor = '<li><a href="' + dataItem.html_url + '" target="_blank">' + dataItem.login + '</a></li>';
      				$('#contributors').append(contributor);
      			}
      		});
    	});
  });
</script>

if me is a community for mental health experiences that encourages people to share their personal stories with trusted allies. Trusted allies are the people we interact with on a daily basis, including friends, family members, co-workers, teachers, and mental health workers.

<p>Dealing with mental health is what makes us human. But for a lot of us, it's a struggle to be open about it.</p>

<p>Not everyone is a counsellor or therapist. The people who interact with everyday shape our emotions and behaviour. Getting them involved in mental health treatment is the key to recovery.</p>

<div class="spacer"></div>
<div class="subtitle">"It's in your head, but it's also all around you."</div>
<div class="spacer"></div>

<p>Mental health is such an individual and unique experience. No two brains are alike! Tackling the problem requires ideas from everyone, which is why the project is open-source.</p>

<p>If you are interested in helping out as a developer or designer, fork the repository hosted on <a href="https://github.com/julianguyen/ifme" target="_blank">GitHub</a>.</p>

<p>Be sure to reach out to <a href="mailto:tojulianguyen@gmail.com">Julia Nguyen</a>, the creator of the project. This includes anyone with any neat ideas (you don't need technical experience)! Ask for an invite to participate on our <a href="https://ifme.slack.com" target="_blank">Slack</a> page - that's where we discuss new ideas for the project.</p>

<div class="spacer"></div>
<div class="subtitle">A huge thanks to our contributors!</div>
<div class="spacer"></div>

<ul id="contributors" class="no_bullet_list">

</ul>