<p>if me is a community for mental health experiences that encourages people to share their personal stories with trusted allies. Trusted allies are usually the people we interact with everyday, such as friends, family members, co-workers, teachers, and mental health workers.</p>

<p>Dealing with mental health is what makes us human. But for a lot of us, it's a struggle to be open about it.</p>

<p>Not everyone is a counsellor or therapist. The people who interact with everyday shape our emotions and behaviour. Getting them involved in mental health treatment is the key to recovery.</p>

<p>Mental health is such an individual and unique experience. No two brains are alike! Tackling the problem requires ideas from everyone, which is why the project is open-source.</p>

<p>If you are interested in helping out as a developer or designer, fork the repository hosted on <a href="https://github.com/julianguyen/ifme" target="_blank">GitHub</a>.</p>

<p>Be sure to reach out to <a href="mailto:tojulianguyen@gmail.com">Julia Nguyen</a>, the creator of the project. This includes anyone with any neat ideas (you don't need technical experience)!</p>