<% title 'About' %>
<%= t('.app_name') %> is a community for mental health experiences that encourages people to share their personal stories with trusted allies. Trusted allies are the people we interact with on a daily basis, including friends, family members, co-workers, teachers, and mental health workers.

<p>
	Dealing with mental health is what makes us human. But for a lot of us, it's a struggle to be open about it.
</p>

<p>
	Not everyone is a counsellor or therapist. The people who we interact with everyday shape our emotions and behaviour. Getting them involved in mental health treatment is the key to recovery.
</p>

<div class="spacer"></div>
<div class="subtitle block">"It's in your head, but it's also all around you."</div>
<div class="spacer"></div>
<div class="purple_yay">&hearts;</div>
<div class="spacer"></div>

<p>
	Mental health is such an individual and unique experience. No two brains are alike! Tackling the problem requires ideas from everyone, which is why the project is open source.
</p>

<p>
	<strong>Wanna help fund us?</strong> Our app is a <u>completely</u> open source. It's built and maintained by volunteers of many different backgrounds and skill sets. So far it's been funded by the project creator <%= link_to('Julia Nguyen', 'http://julia.tech') %>, a recent university grad. As we scale out our app, we will need money to pay for server and domain hosting, and very importantly, for HIPAA compliancy. <%= link_to('Donate to our Patreon!', 'http://patreon.com/ifme') %>
</p>

<p class="no_margin_bottom">
	Feel free to email <a href="mailto:join.ifme@gmail.com">us</a>!
</p>
