<% title t('pages.about.title') %>
<%= t('app_name') %> <%= raw t('pages.about.description', {
		linebreak_link: link_to(t('linebreak'), 'https://linebreak.co', target: 'blank'),
		patreon_link: link_to(t('patreon'), 'http://patreon.com/ifme', target: 'blank')
	}) %>

<p class="no_margin_bottom">
	<%= raw t('pages.about.email_us', {
			email_link: link_to(t('us'), "mailto:#{t('email')}")
		}) %>
</p>
