<div style="font-size: 22px; margin-bottom: 40px">
	<span class="branding_title">if <span class="branding_subtitle">me</span></span> is a personal, open-source project started by Julia Nguyen.
</div>

For a long time, I have been looking for a personal project I can be passionate about. Mental health is a profound aspect of my life. I used to be ashamed of speaking out on my issues with mental illness. Although our loved ones should not be therapists, I have always believed that being open with them is the key to dealing with mental illness. We interact with these people everyday and they shape our self-perception. 
