<p>Mental health is a profound aspect our lives. For most people, it is difficult and often shameful to speak out about mental illness.</p>

<p>Although our loved ones should not be therapists, being open with them is the key to dealing with mental illness in a healthy and productive way. We interact with these people everyday and they shape our self-perception.</p>

<p>Making <em>if me</em> open-source is important because mental health is such a individual experience. Everyone who deals with it has something unique and insightful to offer when it comes to dealing with it.</p>

<strong>Current Features</strong>
<ul>
<li>Create moods and categories for experiences</li>
<li>Describe experiences or "triggers"</li>
<li>Find and add allies, and give them access to comment and support certain triggers</li>
<li>Keep track of medication</li>
</ul>
<br />
<strong>Future Features</strong>
<ul>
<li>Alert (email and SMS) system for appointments, medications, and triggers</li>
<li>Enhancements to news feed (including localized time)</li>
<li>More in-depth profile (bio, social network links, etc.)</li>
<li>Other UI niceties</li>
</ul>

If you are interested in helping out, fork the <a href="https://github.com/julianguyen/ifme" target="_blank">repo</a> and drop me a <a href="mailto:tojulianguyen@gmail.com">message</a>.
