<% title t('navigation.blog') %>
<%= raw t('pages.blog.description', {
  email: link_to(t('email'), "mailto:#{t('email')}")
}) %>
<div class="spacer"></div>


<div id="pages">
  <div class="page">
  <% @posts.each_with_index do |p, index| %>
    <div class="blog_post">
      <h1 class="blog_name"><%= link_to p["link_name"], p["link"], target: 'blank' %></h1>
      <%= p["author"] %>
    </div>
  <% end %>
  </div>
</div>
