If you're interested in sharing your blog article or writing an article, let <a href="mailto:join.ifme@gmail.com">us</a> know!
<div class="spacer"></div>

<div class="blog_post">
  <h1 class="blog_name"><%= link_to "Immigrants also have to challenge their own culture's mental health stigma", "https://medium.com/aj-global-engagers/immigrants-also-have-to-challenge-their-own-culture-s-mental-health-stigmas-21944ee53f01" %></h1>
  Julia Nguyen
</div>

<div class="blog_post">
  <h1 class="blog_name"><%= link_to "Thoughts on support groups for mental illness", "http://julianguyen.org/thoughts-on-support-groups-for-mental-illness/" %></h1>
  Julia Nguyen
</div>

<div class="blog_post" style="margin-bottom: 0px !important">
  <h1 class="blog_name"><%= link_to "Exploring options for help", "http://julianguyen.org/exploring-options-for-help/" %></h1>
  Julia Nguyen
</div>