<% title t('navigation.blog') %>
<%= raw t('pages.blog.description', {
  email: link_to(t('email'), "mailto:#{t('email')}")
}) %>
<div class="spacer"></div>

<div class="gridThree">
  <% @posts.each_with_index do |p, index| %>
    <div class="gridThreeItem">
    <%= react_component('Resource', props: {
      external: true,
      title: p['link_name'],
      link: p['link'],
      author: p['author']
    }) %>
    </div>
  <% end %>
</div>