<h1 class="faq_heading">Who has access to my data?</h1>
<p>
 	User data is protected in a Postgres database hosted on Heroku. Data is not given or made accessible any third party. Deleting your account will remove all of your data.
 	<br>
 	<br>User data is analyzed within the app to provide customized recommendations.
</p>

<h1 class="faq_heading">What is a Moment?</h1>
<p>
	A <strong>Moment</strong> is an event and situation that affects your mental health. It can be positive or negative. Think of it as a journal entry or a status update.
	<br>
	<br>You can tag it with Strategies, Categories, and Moods. You can also choose which allies can view and comment. You can also make it only visible to you.
</p>

<h1 class="faq_heading">What is a Strategy?</h1>
<p>
	A <strong>Strategy</strong> is an activity, train of thought, or form or self-care that helps you cope or focus on recovery.
	<br>
	<br>You can tag it with Categories. You can also choose which allies can view and comment. You can also make it only visible to you. Shared Strategies will be visible to all allies specified, which means you can tag your Moments with their Strategies!
</p>

<h1 class="faq_heading">What is a Category?</h1>
<p>
	A <strong>Category</strong> is a tag that can represent the people, places, and things that are important to you.
</p>

<h1 class="faq_heading">What is a Mood?</h1>
<p>
	A <strong>Mood</strong> is a tag describing your state of mind, feelings, and emotions.
</p>

<h1 class="faq_heading">What is a Group?</h1>
<p>
	A <strong>Group</strong> offers support, mentorship, and discussions on mental health. You can create Groups and your allies have the option of joining. You can only join groups that are created by your allies.
	<br>
	<br>As a Group leader, you can create <strong>Meetings</strong>. Meetings have a location and time. The location can be a physical place or a Google Hangout URL. Meetings also allow for comments. If you are a Group leader, you cannot leave a group unless there is another leader. Groups can only be deleted when you are the only member.
</p>

<h1 class="faq_heading">How can I invite my loved ones to join the app?</h1>
<p>
	Go to the <strong>Allies</strong> page and click the "Invite your loved ones" link. You will be able to invite them via email. When your loved one accepts the invite, they will be added to your Allies list.
</p>

<h1 class="faq_heading">How can I modify email notifications?</h1>
<p>
	Go to the <strong>Account</strong> page by hitting <i class="fa fa-sort-asc"></i> (desktop browser) or <i class="expand fa fa-bars"></i> (mobile browser) in the navigation bar. You can modify your email, password, profile picture, and bio here. You can also delete your account.
</p>

<h1 class="faq_heading">How do I use the Medications feature?</h1>
<p class="no_margin_bottom">
	The <strong>Medications</strong> feature allows you to log the prescription drugs you are taking. You can also log your symptoms.
</p>
