<style>
	#header a#home_link:link {
		border-bottom: 1px solid #ffffff;
	}
</style>

<% if !user_signed_in? %>

	<div class="center">
		<div class="headline">
			<span class="branding_title">
				if <span class="branding_subtitle">me</span>
			</span> 
			is a platform and community for mental health experiences
		</div>

		<div class="message">
			Share your story with trusted allies and get the support you <strong>deserve</strong>
			<div class="spacer"></div>
			Keep track of medications, appointments, and create alerts
			<div class="spacer"></div>
			Be <strong>you</strong>, no strings attached 
		</div>
	</div>

<% else %>

	News feed here

<% end %>
