<style>
	#header a#home_link:link {
		border-bottom: 1px solid #ffffff;
	}
</style>

<% if !user_signed_in? %>
<h1><em>if me</em> is a platform and community for mental health experiences.</h1>
<p>
	Blah blah blah
</p>
<% else %>
	View here
<% end %>
