<% title t('navigation.partners') %>
<div class="marginBottom">
  <%= raw t('pages.partners.description', {
    email: link_to(t('email'), "mailto:#{t('email')}")
  }) %>
</div>
<%= print_partners(@organizations) %>
