<% title t('navigation.partners') %>
<%= raw t('pages.partners.description', {
    email: link_to(t('email'), "mailto:#{t('email')}")
  }) %>
<div class="spacer"></div>
<%= print_partners(@organizations) %>
