<% title t('navigation.press') %>

<div class="gridThree">
<% @press.each_with_index do |p, index| %>
  <div class="gridThreeItem">
  <%= react_component('Resource', props: {
    external: true,
    title: p['link_name'],
    link: p['link'],
    author: p['author']
  }) %>
  </div>
<% end %>
</div>
