<h1 class="privacy_heading">Summary</h1>

<p>
    This privacy policy is for this website <%= link_to('if-me.org', 'http://if-me.org') %> and served by if me and governs the privacy of its users who choose to use it.
</p>

<p>
    Given the sensitive content of the website, privacy is an incredibly important concern to us. The policy sets out to outline how user data is collected, what it is used for, and how it is protected. We are currently in the process of acquiring HIPAA compliancy.
</p>

<h1 class="privacy_heading">User Data</h1>

<p>
    Users are intended to provide us with personal excerpts from their lives (in the Moments feature) and anecdotes on medication. Data from the Moments feature is shared with whomever the user chooses to share it with. Data from the Medication feature is only visible to the user. Both data will not be used for any additional purposes and not be surrendered to external parties.

The application also contains data with regard to support groups and strategies to tackle mental health challenges. This data is only accessible to users that are given permission to view it. Data from both features may be shown publicly to showcase them to current and future users. However, user identities will be kept private.
</p>

<h1 class="privacy_heading">Use of Cookies</h1>

<p>
    This website uses cookies to better the users experience while visiting the website. Where applicable this website uses a cookie control system allowing the user on their first visit to the website to allow or disallow the use of cookies on their computer / device.
</p>

<p>
    Cookies are small files saved to the user's computers hard drive that track, save and store information about the user's interactions and usage of the website. This allows the website, through its server to provide the users with a tailored experience within this website.
</p>

<p>
    Users are advised that if they wish to deny the use and saving of cookies from this website onto their computers hard drive they should take necessary steps within their web browsers security settings to block all cookies from this website and its external serving vendors.
</p>

<p>
    This website uses tracking software to monitor visitors to better understand how they use it. This software is provided by Google Analytics which uses cookies to track visitor usage. The software will save a cookie to your computer’s hard drive in order to track and monitor your engagement and usage of the website, but will not store, save or collect personal information. You can read Google's privacy policy <%= link_to('here', 'http://www.google.com/privacy.html') %> for further information.
</p>

<h1>Social Media Platforms</h1>

<p>
    Communication, engagement and actions taken through external social media platforms that this website participate on are custom to the terms and conditions as well as the privacy policies held with each social media platform respectively.
</p>

<p>
    Users are advised to use social media platforms wisely and communicate / engage upon them with due care and caution in regard to their own privacy and personal details. This website will never ask for personal or sensitive information through social media platforms and encourage users wishing to discuss sensitive details to contact them through primary communication channels such as by telephone or email.
</p>

<p>
    This website may use social sharing buttons which help share web content directly from web pages to the social media platform in question. Users are advised before using such social sharing buttons that they do so at their own discretion and note that the social media platform may track and save your request to share a web page respectively through your social media platform account.
</p>

<h1 class="privacy_heading">Contact Us</h1>

<p>
    Email: <%= link_to('join.ifme@gmail.com', 'mailto:join.ifme@gmail.com') %>
</p>

<p>
    <em>
        Privacy Policy adapted from <%= link_to('Jamie King Media', 'http://jamieking.co.uk/resources/download-free-sample-privacy-policy.html') %>
    </em>
</p>

<strong>
    Effective Date: November 14, 2015
</strong>