# Application
SECRET_KEY_BASE=""
DEVISE_SECRET_KEY=""

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Configuration values for Oauth through Google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_APP_NAME=""

# Configuration values for Google API
GOOGLE_API_KEY=""

# Configuration values for pusher
PUSHER_APP_ID=""
PUSHER_KEY=""
PUSHER_SECRET=""

# SMTP
SMTP_ADDRESS="test@test.com"
SMTP_PORT=""
SMTP_USER_NAME=""
SMTP_PASSWORD=""
SMTP_DOMAIN=""
SEND_EMAIL="false"
RAISE_DELIVERY_ERRORS="false"

# Database
PSQL_HOST=""
PSQL_USERNAME=""
PSQL_PASSWORD=""