@import "../../styles/_legacy.scss";

.checkboxWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: $size-10;
  align-items: center;
}

.checkboxLabel {
  color: grey;
  opacity: 50%;
  font-family: $font-family;
  font-size: $size-18;
  margin-left: $size-10;
}

.checkbox {
  border-radius: $size-4;
  width: $size-30;
  height: $size-30;
  border: 4px solid $grey;
}

.checkboxUnchecked {
  background-color: $light-grey;
}

.checkboxChecked {
  background-color: $grey;
}