@import "../../styles/_legacy.scss";
@import "../../styles/_base.scss";

.checkboxWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
}

.checkboxLabel {
  color: grey;
  opacity: 50%;
  font-family: $font-family;
  font-size: $size-18;
  margin-left: 10px;
}

.checkbox {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  border: 4px solid $grey;
}

.checkboxUnchecked {
  background-color: $light-grey;
}

.checkboxChecked {
  background-color: $grey;
}