@import "../../styles/_legacy.scss";

.checkboxWrapper {
  @include setMargin($size-0, $size-0, $size-10, $size-0);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkboxLabel {
  @include setFontSize($size-10);
  @include setMargin($size-0, $size-0, $size-0, $size-10);
  color: grey;
  opacity: 0.5;
}

.checkbox {
  border-radius: $size-4;
  width: $size-30;
  height: $size-30;
  border: 4px solid $grey;
}

.checkboxUnchecked {
  background-color: $light-grey;
}

.checkboxChecked {
  background-color: $grey;
}