<% title 'Error' %>
<div class="errorPage">
  <div class="main_message">
  	<%= t('errors.internal_server_error.header_message') %>
  </div>

  <div class="message_text">
  	<%= link_to t('errors.home_page'), root_url %>
  </div>
</div>
