<% title 'Error' %>
<div class="pageerror">
  <div class="main_message">
  	<%= t('.header_message') %>
  </div>

  <div class="message_text">
  	<%= link_to t('.home_page'), root_url %>
  </div>
</div>
