@import "../../styles/_global.scss";

.story {
  display: flex;
  flex-direction: column;
  height: 100%;
  &Type,
  &By {
    @include setFontSize($size-16);
    @include setMargin($size-10, $size-0, $size-0, $size-0);
    color: $mulberry-80;
    a {
      color: $mulberry-80 !important;
    }
  }
  &Type {
    margin-left: auto;
  }
  .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &Title {
      display: flex;
      flex-direction: row;
      align-items: center;
      > div:first-of-type {
        @include setMargin($size-0, $size-10, $size-0, $size-0);
      }
    }
  }
  .name {
    @include setFontSize($size-20);
    color: $mulberry;
    word-break: break-word;
  }
  .body {
    @include setMargin($size-10, $size-0, $size-0, $size-0);
    @include setFontSize($size-18);
    color: $black-80;
    font-weight: $font-weight-400;
  }
  .tags {
    @include setMargin($size-10, $size-0, $size-0, $size-0);
  }
  .footer {
    margin-top: auto;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  .action {
    @include setFontSize($size-20);
    cursor: pointer;
    color: $mulberry-80;
    &Dark {
      color: $white,
    }
  }
  > div {
    margin-right: $size-14;
    &:last-of-type {
      margin-right: $size-0;
    }
  }
}

.date {
  @include setFontSize($size-14);
  @include setMargin($size-10, $size-0, $size-0, $size-0);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $mulberry-80;
}

.draft {
  > div {
    border: $size-1 solid $mulberry;
    box-sizing: border-box;
    border-radius: $size-4;
  }
}

.categories,
.moods {
  word-break: break-all;
}
