@import "../../styles/_legacy.scss";

.moment {
  display: block;
  position: relative;
  background: $white;
  box-shadow: $size-0 $size-2 $size-10 $black-10;
  border-radius: $size-4;
  line-height: 1;

  .header {
    position: relative;
    padding: $size-20 $size-20 $size-4 $size-20;
    .draft {
      display: inline-block;
      padding-right: $size-10;
      vertical-align: top;
      div {
        border: $size-1 solid $mulberry;
        box-sizing: border-box;
        border-radius: $size-4;
      }
    }

    .name {
      @include setFontSize($size-18);
      display: inline;
      position: relative;
      max-width: 400px;
      word-wrap: break-word;
      color: $mulberry;
    }

    .settings {
      display: flex;
      position: relative;
      vertical-align: top;
      float: right;
      .action {
        @include setFontSize($size-20);
        color: $mulberry-50;
        cursor: pointer;
        padding: 0 $size-2;
        width: $size-20;
        height: $size-20;
        text-align: center;
      }
    }
  }

  .date {
    @include setFontSize($size-10);
    position: relative;
    display: block;
    padding: 0 $size-20;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $mulberry-50;
  }

  .tags {
    position: relative;
    padding: $size-20 $size-20 $size-10;
    :global(.tag) {
      color: $white;
      border-width: 0;
      border-radius: $size-4;
      margin: $size-1;
      display: inline-block;
    }
    .category {
      display: inline;
      :global(.tag) {
        background-color: $teak;
      }
    }
    .mood {
      display: inline;
    }
  }
}