@import "../../styles/_legacy.scss";

.moment {
  display: block;
  position: relative;
  background: $white;
  box-shadow: $size-0 $size-2 $size-10 $black-10;
  border-radius: $size-4;
  line-height: 1;

  .header {
    position: relative;
    padding: $size-20 $size-20 $size-4 $size-20;

    .draft {
      display: inline-block;
      padding-right: $size-10;
      vertical-align: top;

      div {
        border: $size-1 solid $mulberry;
        box-sizing: border-box;
        border-radius: $size-4;
      }
    }

    .name {
      display: inline;
      position: relative;
      max-width: 400px;
      word-wrap: break-word;
      font-family: $font-family;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: $size-18;

      color: $mulberry;
    }

    .settings {
      display: flex;
      position: relative;
      vertical-align: top;
      float: right;

      .action {
        color: $mulberry-50;
        cursor: pointer;
        font-size: $size-20;
        padding: 0 $size-2;
        width: $size-20;
        height: $size-20;
        text-align: center;
      }
    }
  }

  .date {
    position: relative;
    display: block;
    padding: 0 $size-20;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: $size-10;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $mulberry-50;
  }

  .tags {
    position: relative;
    padding: $size-20 $size-20 $size-10;

    :global(.tag) {
      color: $white;
      border-width: 0;
      border-radius: $size-4;
      margin: $size-1;
      display: inline-block;
    }

    .category {
      display: inline;

      :global(.tag) {
        background-color: #B4A362;
      }
    }

    .mood {
      display: inline;
    }
  }
}