@import "../../styles/_base.scss";

.bg
{
    width: 360px;
    height: auto;
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    line-height: normal;
    background-color: rgba(0, 0, 0, 0.5);
}

.bg li a
{
    display: block;
    padding: 16px 16px 16px 30px;
    fill-opacity: 0.6;
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255,0.7);
}

.bg > li > a >.active
{
    color: purple;
    background-color: rgba(255, 255, 255, 0.702);
}

.secondarybg
{
    background-color: rgba(230, 230, 230, 0.288);
}

.secondarybg li a
{
    display: block;
    padding: 9px 16px 9px 16px;
    text-indent: 30px;
    fill-opacity: 0.6;
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.secondarybg > li > a > .selected
{
    background-color: #ffffff91;
    color: white;
}