@import '../../styles/_legacy.scss';

.resource {
  position: relative;
  width: 100%;
  font-family: $font-family;
  padding: 25px $size-10;

  &:before {
    content: '';
    position: absolute;
    left: $size-10;
    top: 9px;
    border: $size-1 solid #fff;
    border-width: 0 $size-40 0 0;
    height: 3px;
  }

  .link {
    display: block;
    font-size: $size-24;
    color: $white;
    padding-bottom: $size-10;
    line-height: 1.1;
  }

  div > a {
    text-decoration: none;
    color: $white;
  }

  .author {
    color: $white-50;
    font-size: $size-18;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    margin-bottom: $size-10;
  }
}

