/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Directory structure:
 *
 *  stylesheets/
 *  |
 *  |-- application/          # Styles for specific pages.
 *  |   |-- allies.scss       # Etc...
 *  |   ...
 *  |
 *  |-- base/                 # Variables and other common project styles.
 *  |   |-- _colors.scss      # Color variables.
 *  |   |-- _fonts.css        # Font variables and imports.
 *  |   ...                   # etc.
 *  |
 *  `-- application.css.scss  # primary Sass file
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_self
 */

@import "compass/utilities";
@import "base/*";
@import "font-awesome-sprockets";
@import "font-awesome";

/* Text */

body, html {
  background: $mulberry-key-lime;
  margin: 0 auto;
  font: $size-20 $font-family;
  font-weight: $font-weight-400;

  @media screen and (max-width: $medium) {
    margin: 0 auto;
    font: $size-18 $font-family;
    font-weight: $font-weight-400;
  }

  @media screen and (max-width: $small) {
    margin: 0 auto;
    font: $size-16 $font-family;
    font-weight: $font-weight-400;
  }
}

.small_font {
  font: $size-14 $font-family;
  font-weight: $font-weight-400;

  @media screen and (max-width: $small) {
    font: $size-12 $font-family;
    font-weight: $font-weight-400;
  }
}

p {
  word-wrap: break-word;
}

a, .link_style {
  text-decoration: none;
  color: $steel-blue;
  border-bottom: $size-1 dotted $steel-blue;
  cursor: pointer;
}

a:hover, .link_style:hover {
  opacity: 0.5;
}

.anchor {
  border-bottom: $size-1 dotted $black;
  cursor: pointer;
}

// TODO(juliepagano): This is probably not what we want long-term. Come back
// and clean up table css.
table {
  border-collapse: separate;
}

strong, b {
  color: $mulberry;
}

ul:not(.ui-autocomplete, .no_bullet_list),
ol:not(.ui-autocomplete, .no_bullet_list)  {
  padding-left: 0;
}

ul:not(.ui-autocomplete, .no_bullet_list) li:not(.ui-autocomplete, .no_bullet_list),
ol:not(.ui-autocomplete, .no_bullet_list) li:not(.ui-autocomplete, .no_bullet_list)  {
  list-style-position:inside;
}


li:not(.ui-autocomplete, .no_bullet_list) {
  list-style-type: circle;
}

ul.no_bullet_list {
  text-align: center;
  padding: 0;
  margin: 0;
}

ul.no_bullet_list li {
  list-style-type: none;
}

/* Padding */

.padding_right {
  padding-right: $size-40 !important;

  @media screen and (max-width: $medium) {
    padding-right: 0 !important;
  }
}

.padding_left {
  padding-left: $size-40 !important;
}

.padding_top {
  padding-top: $size-40 !important;
}

.padding_bottom {
  padding-bottom: $size-40 !important;
}

.small_padding_right {
  padding-right: $size-20 !important;
}

.small_padding_left {
  padding-left: $size-20 !important;
}

.small_padding_top {
  padding-top: $size-20 !important;
}

.small_padding_bottom {
  padding-bottom: $size-20 !important;
}

/* Margin */

.margin_right {
  margin-right: $size-40 !important;
}

.small_margin_right {
  margin-right: $size-20 !important;
}

.smaller_margin_right {
  margin-right: $size-10 !important;
}

.margin_left {
  margin-left: $size-40 !important;
}

.small_margin_left {
  margin-left: $size-20 !important;
}

.smaller_margin_left {
  margin-left: $size-10 !important;
}

.margin_top {
  margin-top: $size-40 !important;
}

.small_margin_top {
  margin-top: $size-20 !important;
}

.smaller_margin_top {
  margin-top: $size-10 !important;
}

.margin_bottom {
  margin-bottom: $size-40 !important;
}

.small_margin_bottom {
  margin-bottom: $size-20 !important;
}

.smaller_margin_bottom {
  margin-bottom: $size-10 !important;
}

.no_margin_top{
  margin-top: $size-0 !important;
}

.no_margin_bottom {
  margin-bottom: $size-0 !important;
}

.no_margin_left {
  margin-left: $size-0 !important;
}

.no_margin_right {
  margin-right: $size-0 !important;
}

/* Divs */

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.no_center {
  text-align: left !important;
}

.center_div {
  margin: 0 auto;
}

.spacer {
  width: 100%;
  height: $size-40;

  @media screen and (max-width: $medium) {
    height: $size-20;
  }
}

.horizonal_divider {
  width: 100%;
  height: $size-1;
  background-color: $dusty-rose;
  margin-top: $size-40;
  margin-bottom: $size-40;

  @media screen and (max-width: $medium) {
    margin-top: $size-20;
    margin-bottom: $size-20;
  }
}

.vertical_divider {
  width: $size-1;
  background-color: $dusty-rose;
  height: 100%;
  margin-left: $size-10;
  margin-right: $size-10;

  @media screen and (max-width: $medium) {
    margin-left: $size-20;
    margin-right: $size-20;
  }
}

.stats_divider {
  width: 100%;
  height: $size-1;
  background-color: $dusty-rose;
  margin-bottom: $size-40;

  @media screen and (max-width: $medium) {
    margin-bottom: $size-20;
  }
}

.align_left {
  float: left;
  display: inline-block;
}

.align_right {
  float: right;
  display: inline-block;
}

.align_left, .align_right {
  @media screen and (max-width: $medium) {
    display: block;
    float: none;
  }
}

.clear {
  clear: both;
}

.mainWrapper {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;

  > div:first-of-type {
    margin-bottom: auto;
    width: 100vw;
  }

  > div:last-of-type {
    margin-top: auto;
    width: 100vw;
  }
}

.display_none {
  display: none;
}

.display_block {
  display: block !important;
}

.display_inline {
  display: inline !important;
}

.display_inline_block {
  display: inline-block !important;
}

.no_title, .yes_title {
  width: auto;
}

/* Page Title */

.pageTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  > div:last-of-type {
    text-align: right;
  }
}

/* Page Edit and New */

a.page_edit:link,
a.page_edit:visited,
a.page_new:link,
a.page_new:visited,
a.page_search:link,
a.page_search:visited {
  text-decoration: none;
  border: none;
  color: $white;
}

a.page_edit:hover,
a.page_new:hover,
a.page_search:hover {
  text-decoration: none;
  border: none;
  color: $white;
  opacity: 0.5;
}

/* Announcement */

#announcement {
  text-align: center;
  background-color: $key-lime;
  padding: $size-20 60px;
  line-height: $size-30;

  @media screen and (max-width: $medium) {
    padding: $size-20;
    line-height: $size-26;
  }
}

/* Content */

.main {
  width: 100%;
}

.oldContentWrapper {
  padding: $size-40 60px;
  line-height: 150%;
  background: $white;
  @media screen and (max-width: $medium) {
    padding: $size-20;
  }
}

.contentWrapper {
  padding: $size-0 25px 50px 25px;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $medium) {
    flex-direction: column;
    padding: 0;
  }
}

.contentNav {
  flex-basis: 20vw;
  background: $black-30;
  border-radius: 15px $size-0 $size-0 15px;
  @media screen and (max-width: $medium) {
    border-radius: $size-0;
  }
  @media screen and (max-width: $large) {
    flex-basis: 30vw;
  }
  &Profile {
    padding: $size-22 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: $medium) {
      padding: $size-12;
    }
    &Picture {
      padding-right: $size-10;
    }
  }
  &Links {
    a {
      display: block;
      padding: 17px 25px;
      text-decoration: none;
      border: 0;
      color: $white;
      background: $black-20;
    }
    &Active {
      background: $white-70 !important;
      color: $mulberry-70 !important;
    }
  }
  &Actions {
    padding: $size-22 25px;
    @media screen and (max-width: $medium) {
      padding: $size-12;
    }
  }
}

.content {
  flex-basis: 80vw;
  background: $white-80;
  border-radius: $size-0 15px 15px $size-0;
  padding: 62px 70px;
  @media screen and (max-width: $medium) {
    border-radius: $size-0;
    padding: 31px;
  }
  @media screen and (max-width: $large) {
    flex-basis: 70vw;
  }
}

.headline {
  color: $white;
  font-size: $size-40;

  @media screen and (max-width: $medium) {
    font-size: $size-26;
    line-height: $size-40;
  }

  @media screen and (max-width: $small) {
    font-size: $size-22;
    line-height: 36px;
  }
}

.branding_title {
  font-family: $font-family;
  font-weight: $font-weight-300;
  text-transform: lowercase;
  color: $white;
}

.branding_subtitle {
  padding: $size-6 $size-0 $size-12 $size-0;
  border-top: $size-2 solid $white;
  border-bottom: $size-2 solid $white;

  @media screen and (max-width: $medium) {
    padding: $size-0 $size-0 4px $size-0;
  }
}

.subtle {
  color: $dusty-rose;
}

.text_align_left {
  text-align: left !important;
}

.text_align_right {
  text-align: right !important;
}

.subtitle {
  font: $size-34 $font-family;
  font-weight: $font-weight-200;
  text-align: center;

  @media screen and (max-width: $medium) {
    font: $size-30 $font-family;
    font-weight: $font-weight-200;
    text-align: center;
  }
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.spacing {
  margin-right: $size-10 !important;

  @media screen and (max-width: $medium) {
    margin-right: 0 !important;
    margin-bottom: $size-10 !important;
  }
}

/* Links */

a.gravatar:link,
a.gravatar:visited {
  text-decoration: none;
  border: none;
}

a.gravatar:hover {
  text-decoration: none;
  border: none;
  opacity: 0.5;
}

a.highlight:link,
a.highlight:visited {
  text-decoration: none;
  background-color: $mulberry;
  color: $white !important;
  border-bottom: none !important;
  padding: $size-10;

  @media screen and (max-width: $small) {
    padding: $size-5;
  }
}

a.highlight:hover {
  text-decoration: none;
  background-color: $mulberry;
  color: $white !important;
  border-bottom: none !important;
  opacity: 0.5;
  padding: $size-10;

  @media screen and (max-width: $small) {
    padding: $size-5;
  }
}

/* Images */

.avatar {
  margin: 0;

  .portrait {
    border-color: $mulberry;
    border-width: $size-2;
    background-color: $white;
  }
}

.content_nav_profile_picture .portrait {
  width: 45px;
  height: 45px;

  @media screen and (max-width: $small) {
    width: 35px;
    height: 35px;
  }
}

.mini_profile_picture .portrait {
  width: 100px;
  height: 100px;

  @media screen and (max-width: $small) {
    width: 50px;
    height: 50px;
  }
}

.contributor_picture .portrait,
.profile_picture .portrait {
  width: 55px;
  height: 55px;

  @media screen and (min-width: $small + 1) {
    width: 150px;
    height: 150px;
  }
}

.home_picture .portrait {
  width: 50px;
  height: 50px;

  @media screen and (min-width: $medium + 1) {
    width: 100px;
    height: 100px;
  }
}

.small_profile_picture_div {
  .portrait {
    width: 100px;
    height: 100px;

    @media screen and (max-width: $small) {
      width: 50px;
      height: 50px;
    }
  }
  @media screen and (min-width: $medium) {
    width: $size-1;
  }
}

.profile_picture_div {
  .portrait {
    width: 150px;
    height: 150px;

    @media screen and (max-width: $small) {
      width: 55px;
      height: 55px;
    }
  }
  @media screen and (min-width: $medium) {
    width: $size-1;
  }
}

/* Form Elements and Input fields */

label {
  font-size: $size-30;
  font-weight: $font-weight-300;

  @media screen and (max-width: $medium) {
    font-size: $size-26;
  }
}

.label {
  width: auto;
  display: inherit;
  font-size: $size-30;
  margin-bottom: $size-20;

  @media screen and (max-width: $medium) {
    font-size: $size-26;
    margin-bottom: $size-20;
  }
}

.label i, .sidebar_label i {
  opacity: 0.5;
}

textarea {
  width: 50%;
  height: 100px;
}

input,
textarea,
select,
fieldset {
  border: $size-1 solid $black-20;
  padding: $size-10;
  box-shadow: 0 0 $size-2 $black-20 inset;
  background-color: $white;
  font: $size-20 $font-family;
  margin-right: $size-10;
  box-sizing: border-box;

  @media screen and (max-width: $medium) {
    width: 100%;
  }
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0 $size-10 0 $size-5;
  width: auto;
  height: auto;
  box-shadow: none;
}

.field input[type="text"],
.field input[type="passsword"],
.field input[type="email"] {
  margin-right: $size-0;
}


input[type="submit"] {
  border: $size-1 solid $mulberry;
  box-shadow: 0 0 $size-2 $mulberry inset;
  color: $mulberry;
  background: $white;
  font: $size-20 $font-family;
}

input[type="submit"]:hover {
  border: $size-1 solid $mulberry;
  box-shadow: 0 0 $size-2 $mulberry inset;
  color: $mulberry;
  background: $white;
  opacity: 0.5;
}

.field,
.actions {
  margin-bottom: $size-40;

  @media screen and (max-width: $medium) {
    margin-bottom: $size-20;
  }
}

.full_field,
.name_field {
  width: 100%;
}

.toggle_button:link, .toggle_button:visited {
  font-size: $size-26;
  color: $black;
  float: right;
  border: none;
}

.sidebar {
  @media screen and (min-width: $medium) {
    width: 30%;
  }
}

.sidebar_field {
  padding: 15px 15px 15px $size-0;

  @media screen and (max-width: $medium) {
    padding: $size-10 $size-10 $size-10 $size-0;
    width: 100%;
  }
}

.sidebar_label label, .sidebar_label {
  font-size: $size-24;
}

.sidebar_label.expand_toggle label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.special_textarea {
  height: 200px;
}

/* Tables */

.action {
  color: $steel-blue;
  margin-right: $size-10;
}

.vertical_align_top {
  vertical-align: top;
}

.vertical_align_middle {
  vertical-align: middle;
}

.vertical_align_bottom {
  vertical-align: bottom;
}

/* Table */

div.table {
  display: table;
  table-layout: auto;
  width: 100%;
  border-collapse: separate;
}

div.table div.table_row {
  display: table-row;

  @media screen and (max-width: $medium) {
    display: block;
  }
}

div.table div.table_cell {
  display: table-cell;
  word-break: break-word;

  @media screen and (max-width: $medium) {
    display: block;
  }
}

/* Errors and Notices */

.field_with_errors {
  width: auto;
  display: inherit;
  color: $carmine;
  font-weight: bold;
}

.notice {
  background: $limeade;
  color: $white;
  margin-bottom: 25px;
  padding: $size-10;
  text-align: center;
  @media screen and (max-width: $medium) {
    margin-bottom: $size-10;
  }
}

.alert {
  background: $carmine;
  color: $white;
  margin-bottom: 25px;
  padding: $size-10;
  text-align: center;
  @media screen and (max-width: $medium) {
    margin-bottom: $size-10;
  }
}

.alert_text {
  color: $carmine;
}

.viewers_indicator {
  color: $dusty-rose;
  font-weight: bold;
  border: $size-1 solid $dusty-rose !important;
  box-shadow: 0 0 $size-2 $dusty-rose inset !important;
  padding: $size-10;
}

#error_explanation,
.error_explanation {
  color: $carmine;
  font-size: $size-30;
  font-weight: $font-weight-300;
  margin-bottom: $size-40;

  @media screen and (max-width: $medium) {
    font-size: $size-26;
  }

  h2 {
    font-weight: $font-weight-300;
    font-size: $size-30;
    padding: 0;
    margin: $size-0 $size-0 $size-20 $size-0;
    color: $mulberry;

    @media screen and (max-width: $medium) {
      font-size: $size-26;
      margin: $size-0 $size-0 $size-10 $size-0;
    }
  }

  ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: $size-40;
    list-style-position: inside;

    @media screen and (max-width: $medium) {
      margin-bottom: $size-20;
    }

    @media screen and (max-width: $small) {
      margin-bottom: $size-10;
    }
  }
}

.hide_on_mobile {
  @media screen and (max-width: $small) {
    display: none;
  }
}

/* Font Awesome */

.fa-inline {
  margin-right: $size-10;
}

.fa-left {
  margin-left: $size-20;
}

/* close icon */
.fa-times {
  cursor: pointer;
}

/* Focused input fields */

textarea:focus, input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="email"]:focus{
  border-color: $black-20;
  box-shadow: $size-0 $size-0 $size-2 $black-20;
}

/* Date Picker */

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  color: $mulberry !important;
}

#ui-datepicker-div {
  font: $size-20 $font-family !important;
  font-weight: $font-weight-400 !important;

  @media screen and (max-width: $medium) {
    font: $size-18 $font-family !important;
    font-weight: $font-weight-400 !important;
  }

  @media screen and (max-width: $small) {
    font: $size-16 $font-family !important;
    font-weight: $font-weight-400 !important;
  }
}

@import "application/*";
