/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Directory structure:
 *
 *	stylesheets/
 *	|
 *  |-- application/          # Styles for specific pages.
 *	|   |-- allies.scss       # Etc...
 *	|   ...
 *	|
 *	|-- base/                 # Variables and other common project styles.
 *	|   |-- _colors.scss      # Color variables.
 *	|   |-- _fonts.css        # Font variables and imports.
 *	|   ...                   # etc.
 *	|
 *	`-- application.css.scss  # primary Sass file
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 //= require foundation_and_overrides

 */

@import "compass/support";
@import "compass/utilities";
@import "base/*";
@import "application/*";

/* Text */

body, html {
	margin: 0 auto;
	font: 20px $font-family;
	font-weight: 400;
}

a:link,
a:visited {
	text-decoration: none;
	color: $link-color;
	border-bottom: 1px dotted $link-color;
}

a:hover {
	text-decoration: none;
	color: $link-color;
	border-bottom: 1px dotted $link-color;
	opacity: 0.5;
}

// TODO(juliepagano): This is probably not what we want long-term. Come back
// and clean up table css.
table {
	border-collapse: separate;
}

strong, b {
	color: $secondary-text-color;
}

ul:not(.ui-autocomplete, .no_bullet_list),
ol:not(.ui-autocomplete, .no_bullet_list)  {
	padding-left: 0;
}

ul:not(.ui-autocomplete, .no_bullet_list) li:not(.ui-autocomplete, .no_bullet_list),
ol:not(.ui-autocomplete, .no_bullet_list) li:not(.ui-autocomplete, .no_bullet_list)  {
 	list-style-position:inside;
}


li:not(.ui-autocomplete, .no_bullet_list) {
	list-style-type: circle;
}

ul.no_bullet_list {
	text-align: center;
	padding: 0;
	margin: 0;
}

ul.no_bullet_list li {
	list-style-type: none;
}

/* Padding */

.padding_right {
	padding-right: 40px;
}

.padding_left {
	padding-left: 40px;
}

/* Divs */

.center {
	text-align: center;
}

.spacer {
	width: 100%;
	height: 40px;
}

.align_left {
	float: left;
	display: inline-block;
}

.align_right {
	float: right;
	display: inline-block;
}

.clear {
	clear: both;
}

#container {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
	background-color: $container-color;
	position: fixed;
	width: 100%;
	z-index: 9000;
}

#header_content {
	@include clearfix;
	padding: 10px;

	@media screen and (min-width: 800px) {
		padding: 30px 60px;
	}
}

.top-nav {
	clear: left;
	float: left;
	font-size: 12px;
	padding: 0;
	margin: 0;
	width: 80%;

	@media screen and (min-width: 800px) {
		font-size: 18px;
		width: auto;
	}

	li {
		float: left;
		list-style: none;
		margin-right: 24px;
	}

	.active a {
		border-top: 1px solid $header-text-color;
		border-bottom: 1px solid $header-text-color;
		opacity: 0.5;
	}

	a {
		border-bottom: 1px solid $container-color;
		border-top: 1px solid $container-color;
		color: $header-text-color;
		display: block;
		padding: 13px 0px 18px 0px;
		text-decoration: none;

		&:hover {
			border-bottom: 1px solid $header-text-color;
			border-top: 1px solid $header-text-color;
		}
	}
}

#expand_trigger, #expand_me {
	font-weight: 300;
	margin-top: 30px;

	a {
		border: none;
	}
}

#title_expand {
	border: none;
	color: $header-text-color;
	float: right;
	font-size: 20px;
	font-weight: 100;
	line-height: 1;
	margin-top: 7px;
	outline: 0;
	text-align: right;
	text-transform: lowercase;

	@media screen and (min-width: 800px) {
		font-size: 30px;
	}

	&:hover {
		opacity: 1;
	}

	.expand {
		color: $highlight-text-color;
		float: right;
		font-size: 20px;
		line-height: 30px;
		margin-left: 10px;
	}
}

#me {
	@include clearfix;
	border-bottom: 1px solid $highlight-text-color;
	border-top: 1px solid $highlight-text-color;
	color: $highlight-text-color;
	margin: 0;
	padding: 5px 0px 10px 0px;
}

#expand_me {
	clear: right;
	float: right;
	margin-top: 0;
	text-align: right;

	li {
		float: right;
	}

	@media screen and (min-width:800px) {
		margin-top: 30px;
	}
}

#header_spacer {
	width: 100%;
}

/* Page Title */

#page_title {
	width: 100%;
	background-image: url('/assets/welcome_small.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	text-shadow: 1px 3px 5px $highlight-text-color;
}

#page_title > #page_title_content {
	padding: 40px 60px;
	font-size: 30px;
	font-weight: 300;
}

#page_title_content a:link,
#page_title_content a:visited {
	text-decoration: none;
	border: none;
	color: $secondary-text-color;
}

#page_title_content a:hover {
	text-decoration: none;
	border: none;
	color: $secondary-text-color;
	opacity: 0.5;
}

#search_box {
	margin-top: 20px;
}

/* Page Edit and New */

a.page_edit:link,
a.page_edit:visited,
a.page_new:link,
a.page_new:visited,
a.page_search:link,
a.page_search:visited {
	text-decoration: none;
	color: $primary-text-color !important;
	border: none;
}

a.page_edit:hover,
a.page_new:hover,
a.page_search:hover {
	text-decoration: none;
	color: $primary-text-color !important;
	border: none;
	opacity: 0.5;
}

/* Content */

#content {
	padding: 40px 60px;
	line-height: 150%;
}

.headline {
	color: $header-text-color;
	font-size: 40px;
	text-shadow: 1px 2px 5px $font-family;
}

.branding_title {
	font-family: $font-family;
	font-weight: 100;
	text-transform: lowercase;
	color: $secondary-text-color;
}

.branding_subtitle {
	padding: 10px 0px 10px 0px;
	border-top: 1px solid $secondary-text-color;
	border-bottom: 1px solid $secondary-text-color;
}

.subtle {
	color: $secondary-text-color;
	opacity: 0.5;
	text-align: right;
}

.subtitle {
	font: 34px $font-family;
	font-weight: 100;
	text-align: center;
	display: none;
}

.block {
	display: block !important;
}


/* Footer */

#footer {
	border-top: 1px solid $container-color;
	padding: 40px 0px;
}

#footer > #footer_content {
	padding: 0px 60px;
	font-size: 16px;
	color: $secondary-text-color
}

#footer a:link,
#footer a:visited {
	text-decoration: none;
	color: $secondary-text-color;
	border-bottom: 1px dotted $secondary-text-color;
}

#footer a:hover {
	text-decoration: none;
	color: $secondary-text-color;
	border-bottom: 1px dotted $secondary-text-color;
	opacity: 0.5;
}

.spacing {
	margin-right: 10px !important;
}

/* Links */

a.gravatar:link,
a.gravatar:visited {
	text-decoration: none;
	border: none;
}

a.gravatar:hover {
	text-decoration: none;
	border: none;
	opacity: 0.5;
}

/* Images */

img {
	 max-width: 100%;
}

.profile_picture,
.contributor_picture {
	width: 200px;
	border-radius: 150px;
	border: 2px solid $container-color;
}

.mini_profile_picture {
	width: 100px;
	border-radius: 150px;
	border: 2px solid $container-color;
}

/* Form Elements and Input fields */

label {
	font-size: 30px;
	font-weight: 100;
}

.label {
	width: auto;
	display: inherit;
	margin-bottom: 20px;
}

input,
textarea,
select,
fieldset {
	border: 1px solid $primary-text-color;
	padding: 10px;
	box-shadow: 0 0 2px $primary-text-color inset;
	background-color: $background-color;
	font: 20px $font-family;
	margin-right: 10px;
	box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
	margin: 0 10px 0 5px;
}

.field input[type="text"],
.field input[type="passsword"],
.field input[type="email"] {
	margin-right: 0px;
}

textarea {
	width: 50%;
	height: 100px;
}

input[type="submit"] {
	border: 1px solid $container-color;
	box-shadow: 0 0 2px $container-color inset;
	color: $container-color;
	background: $background-color;
	font: 20px $font-family;
}

input[type="submit"]:hover {
	border: 1px solid $container-color;
	box-shadow: 0 0 2px $container-color inset;
	color: $container-color;
	background: $background-color;
	opacity: 0.5;
}

input[type="submit"]#unsupport {
	border: 1px solid $alert-color !important;
	box-shadow: 0 0 2px $alert-color inset !important;
	color: $alert-color !important;
	background: $background-color;
}

input[type="submit"]#unsupport:hover {
	border: 1px solid $alert-color !important;
	box-shadow: 0 0 2px $alert-color inset !important;
	color: $alert-color !important;
	background: $background-color;
	opacity: 0.5;
}

input[type="submit"]#support {
	border: 1px solid $notice-color !important;
	box-shadow: 0 0 2px $notice-color inset !important;
	color: $notice-color !important;
	background: $background-color;
}

input[type="submit"]#support:hover {
	border: 1px solid $notice-color !important;
	box-shadow: 0 0 2px $notice-color inset !important;
	color: $notice-color !important;
	background: $background-color;
	opacity: 0.5;
}

.field,
.actions {
	margin-bottom: 40px;
}

.name_field {
  font: 30px Lato;
  border: none;
}

.toggle_button:link, .toggle_button:visited {
  font-size: 27px;
  color: $highlight-text-color;
  float: right;
  border: none;
}

.sidebar_field {
  padding: 15px 15px 15px 0px;
}

.sidebar_label label{
  font-size: 24px;
}

/* Tables */

table {
	width: 100%;
	table-layout: auto;
	padding: 20px 0px 0px 20px;
	border: 1px solid $container-color;
	background-color: $background-color;
	box-shadow: 0 0 2px $container-color inset;
}

table td {
	padding: 0px 20px 20px 0px;
	vertical-align: top;
}

table td p {
	margin: 0;
}

table th {
	text-align: left;
	font-weight: bold;
	color: $secondary-text-color;
	padding-bottom: 20px;
	font-size: 20px;
}

.action {
	color: $link-color;
	margin-right: 10px;
}

.vertical_align {
	vertical-align: top;
}

/* Comments */

.comment {
	margin-top: 40px;
	padding: 10px;
	background-color: #E1CDD7;
}

.comment > .comment_info {
	color: $secondary-text-color;
	margin-bottom: 10px;
}

.comment a:link,
.comment a:visited,
.comment a:hover {
	color: $secondary-text-color;
	border-color: $secondary-text-color;
}

/* Table */

div.table {
	display: table;
	table-layout: auto;
	width: 100%;
	border-collapse: separate;
}

div.table div.table_row {
	display: table-row;
}

div.table div.table_cell {
	display: table-cell;
}

/* Errors and Notices */

.field_with_errors {
	width: auto;
	display: inherit;
	color: $alert-color;
	font-weight: bold;
}

.notice {
	color: $notice-color;
	font-weight: bold;
	margin-bottom: 40px;
	border: 1px solid $notice-color !important;
	box-shadow: 0 0 2px $notice-color inset !important;
	padding: 10px;
}

.alert {
	color: $alert-color;
	font-weight: bold;
	margin-bottom: 40px;
	border: 1px solid $alert-color !important;
	box-shadow: 0 0 2px $alert-color inset !important;
	padding: 10px;
}

/* Font Awesome */

.fa-inline {
	margin-right: 20px;
}

.fa-left {
	margin-left: 20px;
}

/* Focused input fields */

textarea:focus, input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="email"]:focus{
	border-color: $container-color;
	box-shadow: 0px 0px 2px $container-color;
}

