/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Lato:100,400,300);

/* Text */

body, html {
	margin: 0 auto;
	font: 20px 'Lato';
	font-weight: 400;
}

strong, b {
	color: #6D0839;
}

ul:not(.ui-autocomplete), ol:not(.ui-autocomplete)  {
	padding-left: 0;
}

ul:not(.ui-autocomplete) li:not(.ui-autocomplete), ol:not(.ui-autocomplete) li:not(.ui-autocomplete)  {
 	list-style-position:inside;
}


li:not(.ui-autocomplete) {
	list-style-type : circle;
}


/* Divs */

.center {
	text-align: center;
}

.spacer {
	width: 100%;
	height: 40px;
}

.align_left {
	float: left;
	display: inline-block;
}

.align_right {
	float: right;
	display: inline-block;
}

.clear {
	clear: both;
}

#container {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
	background-color: #6D0839;
	position: fixed;
	width: 100%;
	z-index: 9000;
}

#header_content {
	padding: 40px;
}

#header_content a.nav_link:link, #header_content a.nav_link:visited {
	text-decoration: none;
	color: #ffffff;
	margin-right: 20px;
	padding: 20px 0px 20px 0px;
	border: none;
	font-size: 18px;
}

#header_content a.nav_link:hover {
	color: #ffffff;
	text-decoration: none;
	margin-right: 20px;
	padding: 20px 0px 20px 0px;
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	font-size: 18px;
}

#title {
	color: #ffffff;
	text-transform: lowercase;
	font-size: 40px;
	font-weight: 100;
	text-align: right;
}

#title_expand {
	color: #D0E799;
	text-align: right;
}

#header_spacer {
	width: 100%;
}

#close_trigger{
	color: white;
	float: right;
	position: relative;
	top: 5px;
	color: #D0E799;
}

#me {
	margin: 0;
	color: #D0E799;
	padding: 5px 0px 10px 0px;
	border-top: 1px solid #D0E799;
	border-bottom: 1px solid #D0E799;
}

#expand_me {
	margin-top: 40px;
	width: 100%;
	text-align: right;
}

#expand_me a.me_link:link, #expand_me a.me_link:visited {
	text-decoration: none;
	color: #ffffff;
	margin-left: 20px;
	border: none;
}

#expand_me a.me_link:hover {
	color: #ffffff;
	text-decoration: none;
	margin-left: 20px;
}

#expand_trigger {
	margin-top: 40px;
	width: 100%;
	text-align: left;
}


/* Page Title */

#page_title {
	width: 100%;
	background-image: url('/assets/welcome_small.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: bottom center;
	text-shadow: 1px 3px 5px #d0e799;
}

#page_title > #page_title_content {
	padding: 40px;
	font-size: 30px;
	font-weight: 300;
}

#page_title_content a:link, #page_title_content a:visited {
	text-decoration: none;
	border: none;
	color: #6D0839;
}

#page_title_content a:hover {
	text-decoration: none;
	border: none;
	color: #6D0839;
	opacity: 0.5;
}

#search_box {
	margin-top: 20px;
}

/* Page Edit and New */

a.page_edit:link, a.page_edit:visited, a.page_new:link, a.page_new:visited, a.page_search:link, a.page_search:visited {
	text-decoration: none;
	color: #000000 !important;
	border: none;
}

a.page_edit:hover, a.page_new:hover, a.page_search:hover {
	text-decoration: none;
	color: #000000 !important;
	border: none;
	opacity: 0.5;
}

/* Content */

#content {
	padding: 40px;
	line-height: 150%;
}

.headline {
	color: #ffffff;
	font-size: 40px;
	text-shadow: 1px 2px 5px #6D0839;
}

.branding_title {
	font-family: 'Lato';
	font-weight: 100;
	text-transform: lowercase;
	color: #6D0839;
}

.branding_subtitle {
	padding: 10px 0px 10px 0px;
	border-top: 1px solid #6D0839;
	border-bottom: 1px solid #6D0839;
}

.subtle {
	color: #6D0839;
	opacity: 0.5;
	text-align: right;
}

.subtitle {
	font: 34px 'Lato';
	font-weight: 100;
	text-align: center;
}

/* Footer */

#footer {
	border-top: 1px solid #6D0839;
	padding: 40px 0px 40px 0px;
}

#footer > #footer_content {
	padding: 0px 40px 0px 40px;
	font-size: 16px;
	color: #6D0839;
}

#footer a:link, #footer a:visited {
	text-decoration: none;
	color: #6D0839;
	border-bottom: 1px dotted #6D0839;
}

#footer a:hover {
	text-decoration: none;
	color: #6D0839;
	border-bottom: 1px dotted #6D0839;
	opacity: 0.5;
}

.spacing {
	margin-right: 10px;
}

/* Links */

a:link, a:visited {
	text-decoration: none;
	color: #02779E;
	border-bottom: 1px dotted #02779E;
}

a:hover {
	text-decoration: none;
	color: #02779E;
	border-bottom: 1px dotted #02779E;
	opacity: 0.5;
}

a.gravatar:link, a.gravatar:visited {
	text-decoration: none;
	border: none;
}

a.gravatar:hover {
	text-decoration: none;
	border: none;
	opacity: 0.5;
}

/* Images */

img {
	 max-width: 100%;
}

.profile_picture {
	width: 200px;
	border-radius: 150px;
	border: 2px solid #6d0839;
}

.mini_profile_picture {
	width: 100px;
	border-radius: 150px;
	border: 2px solid #6d0839;
}

/* Form Elements and Input Fields */

label {
	font-size: 30px;
	font-weight: 100;
}

.label {
	width: auto;
	display: inherit;
	margin-bottom: 20px;
}

input, textarea, select, fieldset {
	border: 1px solid #000000;
	padding: 10px;
	box-shadow: 0 0 2px #000000 inset;
	background-color: #ffffff;
	font: 20px 'Lato';
	margin-right: 10px;
}

textarea {
	width: 50%;
	height: 100px;
}

input[type="submit"] {
	border: 1px solid #02779E;
	box-shadow: 0 0 2px #02779E inset;
	color: #02779E;
	background: #ffffff;
	font: 20px 'Lato';
}

input[type="submit"]:hover {
	border: 1px solid #02779E;
	box-shadow: 0 0 2px #02779E inset;
	color: #02779E;
	background: #ffffff;
	opacity: 0.5;
}

input[type="submit"]#unsupport {
	border: 1px solid #990019 !important;
	box-shadow: 0 0 2px #990019 inset !important;
	color: #990019 !important;
	background: #ffffff;
}

input[type="submit"]#unsupport:hover {
	border: 1px solid #990019 !important;
	box-shadow: 0 0 2px #990019 inset !important;
	color: #990019 !important;
	background: #ffffff;
	opacity: 0.5;
}

input[type="submit"]#support {
	border: 1px solid #289900 !important;
	box-shadow: 0 0 2px #289900 inset !important;
	color: #289900 !important;
	background: #ffffff;
}

input[type="submit"]#support:hover {
	border: 1px solid #289900 !important;
	box-shadow: 0 0 2px #289900 inset !important;
	color: #289900 !important;
	background: #ffffff;
	opacity: 0.5;
}

.field, .actions {
	margin-bottom: 40px;
}

/* Tables */

table {
	width: 100%;
	table-layout: auto;
	padding: 20px 0px 0px 20px;
	border: 1px solid #6D0839;
	background-color: #ffffff;
	box-shadow: 0 0 2px #6D0839 inset;
}

table td {
	padding: 0px 20px 20px 0px;
	vertical-align: top;
}

table td p {
	margin : 0;
}

table th {
	text-align: left;
	font-weight: bold;
	color: #6D0839;
	padding-bottom: 20px;
	font-size: 20px;
}

.action {
	color: #02779E;
	margin-right: 10px;
}

/* Comments */

.comment {
	margin-top: 40px;
	padding: 10px;
	background-color: #E1CDD7;
}

.comment > .comment_info {
	color: #6D0839;
	margin-bottom: 10px;
}

.comment a:link, .comment a:visited, .comment a:hover {
	color: #6D0839;
	border-color: #6D0839;
}

/* Table */

div.table {
	display: table;
	table-layout: auto;
	width: 100%;
}

div.table > div.table_cell {
	display: table-cell;
}

/* Errors and Notices */

.field_with_errors {
	width: auto;
	display: inherit;
	color: #990019;
	font-weight: bold;
}

.notice {
	color: #289900;
	font-weight: bold;
	margin-bottom: 40px;
	border: 1px solid #289900 !important;
	box-shadow: 0 0 2px #289900 inset !important;
	padding: 10px;
}

.alert {
	color: #990019;
	font-weight: bold;
	margin-bottom: 40px;
	border: 1px solid #990019 !important;
	box-shadow: 0 0 2px #990019 inset !important;
	padding: 10px;
}

/* Font Awesome */

.fa-inline {
	margin-right: 20px;
}