<div class="gridTwoItemBoxLight">
	<%= react_component('Story', props: {
		name: category.name,
		link: url_for(category),
		actions: {
			edit: edit_category_path(category),
			delete: t('common.actions.confirm')
		}
	}) %>
</div>
