<div class="align_right">
  <button id="myBtn" class="align_right">
  <%= t('common.actions.premade_add') %>
  </button>
  <%= render 'premade' %>
</div>
<% title "#{t('categories.new')}" %>
<%= render 'form' %>
