<% title @category.name %>

<% if !@category.description.blank? && @category.description.length > 0 %>
  <%= sanitize(@category.description) %>
<% else %>
  <div class="messageMain">
    <%= t('warnings.no_description') %>
  </div>
  <div class="messageBody no_margin_bottom">
    <%= t('warnings.yes_description') %>
  </div>
<% end %>

<%= render partial: '/shared/tag_usage', locals: { data: @category.id, data_type: 'category', user_id: @category.user_id } %>
