<p>  <%= t('salutation', @email) %>! </p>

<p><%= t('devise.confirmation.link_instructions') %>:</p>

<p><%= link_to t('devise.confirmation.text'), confirmation_url(@resource, confirmation_token: @token) %></p>
