@import "../../styles/_global.scss";

.tooltip {
  position: relative;
  display: inline-block;

  > div:first-of-type {
    display: inline-block;
    &:hover + div {
      visibility: visible;
    }
  }

  > div:last-of-type {
    @include setFontSize($size-18);
    @include setPadding($size-10, $size-10, $size-10, $size-10);
    box-sizing: border-box;
    box-shadow: $size-0 $size-2 $size-10 $black-10;
    border-radius: $size-4;
    background: $white;
    width: 200px;
    visibility: hidden;
    position: absolute;
    z-index: $z-index-front;
    top: calc(10px + 100%);
    text-align: center;
  }

  &Right {
    right: 0;
  }
}
