@import "../../styles/_legacy.scss";
@import "../../styles/_base.scss";

// TODO: Get rid of !important, it's here for now cause Rails styles override React styles

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    font-family: $font-family !important;
    color: $white;
    text-decoration: none !important;
    border: none !important;
  }

  a:hover {
    opacity: 0.5 !important;
    color: $white !important;
  }

  &ActiveLink {
    color: $key-lime !important;
  }

  &MobileNav {
    background: transparent;
    position: static;
    &Links {
      display: none;
    }
    @media screen and (max-width: $font-weight-100all) {
      background: $black-70;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      &Links {
        margin-bottom: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: $size-30;
      }
    }
  }

  &Desktop {
    width: 100%;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    &Home {
      padding: 25px 34px;
      font-size: $size-30;
      @media screen and (max-width: $font-weight-100all) {
        padding: 15px 10px;
      }
    }
  
    &Nav {
      padding: 25px 34px;
      @media screen and (max-width: $font-weight-100all) {
        padding: 15px 10px;
      }
      &Hamburger {
        display: none;
        font-size: $size-30;
        color: $white;
        @media screen and (max-width: $font-weight-100all) {
          display: block;
        }
      }
      &Links {
        display: flex;
        flex-direction: row;
        font-size: $size-16;
        letter-spacing: 0.0571429em;
        text-transform: uppercase;
        font-weight: $font-weight-300;
        > div {
          margin-right: 25px;
        }
        > div:last-of-type {
          margin-right: 0px;
        }
        @media screen and (max-width: $font-weight-100all) {
          display: none;
        }
      }
    }
  }
}
  