@import "../../styles/_legacy.scss";

// TODO: Get rid of !important, it's here for now cause Rails styles override React styles

@mixin linkStyle() {
  a {
    font-family: $font-family !important;
    color: $white;
    text-decoration: none !important;
    border: none !important;
  }

  a:hover {
    opacity: 0.5 !important;
    color: $white !important;
  }
}

.header {
  z-index: $z-index-front;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &Link {
    @include linkStyle();
    @media screen and (max-width: $medium) {
      font-size: $size-18;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &ActiveLink {
    color: $key-lime !important;
  }

  &HideInMobile {
    @media screen and (max-width: $medium) {
      display: none;
    }
  }

  &Hamburger {
    display: none;
    font-size: $size-30;
    color: $white;
    @media screen and (max-width: $medium) {
      display: block;
    }
  }

  &Mobile {
    background: transparent;
    position: static;
    &Nav {
      display: none;
    }
    @media screen and (max-width: $medium) {
      background: $mulberry-key-lime;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      &Nav {
        margin-bottom: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        > div {
          overflow: auto;
          width: 100%;
        }
      }
      &Bg {
        background: $black-70;
        height: 100%;
        width: 100%;
      }
    }
  }

  &Desktop {
    width: 100%;
    padding: 25px $size-34;
    box-sizing: border-box;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: $medium) {
      padding: 15px $size-10;
    }
    &Home {
      @include linkStyle();
      font-size: $size-30;
    }
    &Nav {
      &Links {
        display: flex;
        flex-direction: row;
        font-size: $size-16;
        letter-spacing: 0.0571429em;
        text-transform: uppercase;
        font-weight: $font-weight-300;
        > div {
          margin-right: 25px;
        }
        > div:last-of-type {
          margin-right: $size-0;
        }
        @media screen and (max-width: $medium) {
          display: none;
        }
      }
    }
  }
}
