@import "../../styles/_global.scss";

@mixin linkStyle() {
  a {
    @include standardTransition();
    color: $white;
    text-decoration: none;
    &:hover {
      color: $white;
      opacity: 0.5;
    }
  }
}

.header {
  z-index: $z-index-front;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &Link {
    @include linkStyle();
    @include setMargin($size-0, $size-0, $size-20, $size-0);
    font-size: $size-16;
    @media screen and (max-width: $medium) {
      text-align: center;
    }
  }

  &ActiveLink {
    color: $key-lime !important;
  }

  &HideInMobile {
    @media screen and (max-width: $medium) {
      display: none;
    }
  }

  &Hamburger {
    @include setFontSize($size-30);
    display: none;
    color: $white;
    cursor: pointer;
    @media screen and (max-width: $medium) {
      display: block;
    }
  }

  &Mobile {
    background: transparent;
    position: static;
    &Nav {
      display: none;
    }
    @media screen and (max-width: $medium) {
      background: $mulberry-key-lime;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      &Nav {
        margin-bottom: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        > div {
          overflow: auto;
          width: 100%;
        }
      }
      &Bg {
        background: $black-70;
        height: 100%;
        width: 100%;
        overflow-y: scroll;
      }
    }
  }

  &Profile {
    width: 100%;
    box-sizing: border-box;
    padding: $size-22 $size-26;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: $white;
    &Info {
      @include setFontSize($size-18);
      color: $white;
      &Links {
        @include setFontSize($size-0);
        margin-top: $size-4;
        line-height: 3.5;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        > div {
          margin: $size-8 $size-8 $size-0 $size-0;
          &:last-of-type {
            margin: $size-8 $size-0 $size-0 $size-0;
          }
        }
      }
    }
    @media screen and (max-width: $medium) {
      text-align: center;
      justify-content: center;
    }
  }

  &Desktop {
    width: 100%;
    padding: 25px $size-34;
    box-sizing: border-box;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: $medium) {
      padding: 15px $size-10;
    }
    &Home {
      @include linkStyle();
      font-size: $size-30;
    }
    &Nav {
      &Links {
        @include setFontSize($size-18);
        display: flex;
        flex-direction: row;
        letter-spacing: 0.0571429em;
        text-transform: uppercase;
        > div {
          @include setMargin($size-0, $size-26, $size-0, $size-0);
        }
        > div:last-of-type {
          @include setMargin($size-0, $size-0, $size-0, $size-0);
        }
        @media screen and (max-width: $medium) {
          display: none;
        }
      }
    }
  }
}
