<%= form_tag({:controller => "triggers", :action => "allies"}, :remote => true) do |f| %>
<h3>Share with: </h3>
<% @viewers.each do |item| %>
    <%= check_box_tag("viewers[]", User.where(:id => item).first.name, Viewer.where(:viewerid => item).empty?, :id => User.find(item).id) %>
    <%= User.where(:id => item).first.name %><br>
<% end %>
<br>
<%= submit_tag "Save", :id => "btnClose" %>
<% end %>

<script>

$(function () {
 	$('form').submit(function(){
 		//Uncomment to list viewers and uncomment view div #text
	    /*$('input:checkbox:checked').each(function(){
        	window.parent.$("#text").text(parent.$("#text").text() + $(this).val() +  ", ");
        });
		*/
    	$("#cboxClose").click();
 	});
});

</script>