<div class="subtitle">
  <%= t('.subtitle') %>
</div>

<div class="spacer"></div>

<% if @moments.length > 0 %>
  <% @moments.each do |moment| %>
    <%= render :partial => '/shared/moments_strategies', locals: { items: @moments, item: moment, data_type: 'moment' } %>
  <% end %>
<% else %>
You haven't written about any moments yet. Click <i class="fa fa-plus-circle"></i> to add some! 
<br>
<br>Don't know where to start? What's something that happened today that you would like to share and discuss with a loved one? It can be positive or negative! You can don't have to share it right away - only when you're ready to!
<% end %>