<% title "#{'New Report'}" %>
<%= form_for(:search, :url => {:action => "create", :ally_id => params[:ally_id], :comment_id => params[:comment_id]}, :method => "post") do |f| %>
  <div class="label">
    <%= f.label 'Why are you reporting ?' %>
  </div>
   <%= text_area(:report, :reasons) %>
  <%= f.submit t('common.actions.submit') %>
  </div>
<% end %>