@import "../_legacy.scss";
@import "../_base.scss";

body {
  font-family: $font-family;
}

.fill select{
  background:  #6D0839 url('./down.svg') no-repeat right;

  @include selectDropdown(
    $padding: 13px 32px,
    $font-size: $font18
  );
  &:focus {
    outline: none;
  }
}

.ghost select{
  background:  #9a9999 url('./down.svg') no-repeat right;

  @include selectDropdown(
    $padding: 16px 30px,
    $font-size: $font22
  );
  &:focus {
    outline: none;
  }
}

.ghost_small select {
  background:  #9a9999 url('./down.svg') no-repeat right;

  @include selectDropdown(
    $padding: 13px 32px,
    $font-size: $font18
  );
  &:focus {
    outline: none;
  }
}

.select_dropdown select {
  padding-left: 10px;
  cursor: pointer;
}

.select_dropdown {
  display: inline-block;
}

