@import '../../styles/_global.scss';

.comment {
  @include gridItemBoxLight();
  @include setMargin($size-0, $size-0, $size-20, $size-0);

  &:last-of-type {
    @include setMargin($size-0, $size-0, $size-0, $size-0);
  }

  &Info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &Content {
    @include setMargin($size-20, $size-0, $size-0, $size-0);
  }
}