// Place all the styles related to the Alerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Alerts */

.the_alert {
	padding: 20px;
	border: 1px solid $container-color;
	box-shadow: 0 0 2px $container-color inset;
	margin-bottom: 40px;
}

.the_alert > h1.alert_name {
	font-weight: 300;
	font-size: 26px;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: $secondary-text-color;
}

h1.alert_name a:link, h1.alert_name a:visited {
	color: $secondary-text-color;
	text-decoration: none;
	border: none;
}