// Place all the styles related to the Allies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Allies */

#invitations {
  #user_email {
    width: 100%;
  }
}

.ally {
  text-align: center;
  a {
    @include standardTransition();
  }
  > a:first-of-type {
    @include setMargin($size-0, $size-0, $size-20, $size-0);
    display: block;
    color: $mulberry;
    font-weight: bold;
  }
}
