// Place all the styles related to the Allies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Allies */

.location {
	color: $secondary-text-color;
	opacity: 0.5;
}

.ally {
	@media screen and (max-width: $medium) {
		.padding_right {
			padding-right: 20px !important;
		}
	}

	div.table {
		display: table;
		table-layout: auto;
		width: 100%;
		border-collapse: separate;
	}

	div.table div.table_row {
		display: table-row;
	}

	div.table div.table_cell {
		display: table-cell;
		word-break: break-word;
	}
}

@media screen and (max-width: $medium) {
	#search_email {
		margin-right: 0;
		margin-bottom: 10px;
	}

	#invite {
		margin-bottom: 10px;
	}
}

