// Place all the styles related to the Moments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Comments */

.comment {
  margin-top: $size-40;
  padding: $size-20;
  background-color: $white;
  border: $size-2 solid $mulberry;

  div.table {
    display: table;
    table-layout: auto;
    width: 100%;
    border-collapse: separate;

    @media screen and (max-width: $medium) {
      .padding_right {
        padding-right: $size-10 !important;
      }
    }

    @media screen and (max-width: $small) {
      .vertical_align_middle {
        vertical-align: top !important;
      }
    }
  }

  div.table div.table_row {
    display: table-row;
  }

  div.table div.table_cell {
    display: table-cell;
    word-break: break-word;
  }

  .delete_comment {
    padding-left: $size-20;
    text-align: right;
  }

  @media screen and (max-width: $medium) {
    margin-top: $size-20;
    padding: $size-10;

    .delete_comment {
      padding-left: $size-10;
    }
  }

  @media screen and (max-width: $small) {
    .delete_comment {
      padding-left: $size-4;
    }
  }
}

.comment_info {
  color: $mulberry;
  padding-bottom: $size-10;
  padding-left: $size-10;
  padding-right: $size-10;
  border-bottom: $size-1 solid $dusty-rose;

  @media screen and (max-width: $small) {
    font-size: $size-16;
  }
}

.comment a:link,
.comment a:visited,
.comment a:hover {
  color: $mulberry;
  border-color: $mulberry;
}

.delete_comment a:link,
.delete_comment a:visited,
.delete_comment a:hover {
  color: $mulberry;
  border: none;
}

.comment_text {
  word-wrap: break-word;
  padding: $size-10;
  font-weight: $font-weight-300;
}

.comment_textarea {
  width: 100%;
  margin: $size-0 !important;
}

@media screen and (max-width: $medium) {
  #comment_visibility {
    margin-bottom: $size-10;
  }
}
