// Place all the styles related to the Moments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Comments */

.comment {
  margin-top: $size-40;
  box-sizing: border-box;
  padding: $size-20;
  box-shadow: $size-0 $size-2 $size-10 $black-10;
  border-radius: $size-4;
  background: $white;

  .delete_comment {
    padding-left: $size-20;
    text-align: right;
  }

  @media screen and (max-width: $medium) {
    margin-top: $size-20;
    padding: $size-10;

    .delete_comment {
      padding-left: $size-10;
    }
  }

  @media screen and (max-width: $small) {
    .delete_comment {
      padding-left: $size-4;
    }
  }
}

.comment_info {
  color: $mulberry;
  margin-bottom: $size-10;
  @media screen and (max-width: $small) {
    font-size: $size-16;
  }
}

.comment a:link,
.comment a:visited,
.comment a:hover {
  color: $mulberry;
  border-color: $mulberry;
}

.delete_comment a:link,
.delete_comment a:visited,
.delete_comment a:hover {
  color: $mulberry;
  border: none;
}

.comment_text {
  word-wrap: break-word;
  margin-bottom: $size-10;
}

.comment_textarea {
  width: 100%;
  margin: $size-0 !important;
}

@media screen and (max-width: $medium) {
  #comment_visibility {
    margin-bottom: $size-10;
  }
}
