.contributor {
  @media screen and (max-width: $medium) {
    margin: 0 0 20px;
    padding: 10px;
    border: 1px solid $secondary-text-color;
  }

  .about-contributor {
    vertical-align: middle;
  }

  .contributor-image {
    @media screen and (min-width: $medium + 1) {
      width: 200px;
      padding-right: 40px;
      vertical-align: middle
    }
  }

  .spacer {
    @media screen and (max-width: $medium) {
      height: 10px;

      &:last-of-type {
        height: 0;
      }
    }
  }
}

div.table div.table_cell {
  @media screen and (max-width: $medium) {
    &.contributor-image {
      text-align: center;
    }
  }
}

.contributor_picture {
  width: 150px;

  @media screen and (min-width: $medium + 1) {
    width: 200px;
  }
}

.contributor-name {
  font: 34px $font-family;
  font-weight: 100;
  text-align: center;

  @media screen and (max-width: $medium) {
    font: 30px $font-family;
    font-weight: 100;
    text-align: center;
  }
}
