.oldContentWrapper {
  padding: $size-40 60px;
  line-height: 150%;
  background: $white;
  @media screen and (max-width: $medium) {
    padding: $size-20;
  }
}

.contentWrapper {
  padding: $size-0 25px 50px 25px;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $medium) {
    flex-direction: column;
    padding: 0;
  }
}

.contentNav {
  flex-basis: 20vw;
  background: $black-30;
  border-radius: 15px $size-0 $size-0 15px;
  @media screen and (max-width: $medium) {
    display: none;
  }
  @media screen and (max-width: $large) {
    flex-basis: 30vw;
  }
  &Profile {
    padding: $size-22 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &Picture {
      padding-right: $size-10;
    }
  }
  &Links {
    a {
      display: block;
      padding: 17px 25px;
      text-decoration: none;
      border: 0;
      color: $white;
      background: $black-20;
    }
    &Active {
      background: $white-70 !important;
      color: $mulberry-70 !important;
    }
    @media screen and (max-width: $medium) {
      text-align: center;
      font-size: $size-18;
    }
  }
  &Actions {
    padding: $size-22 25px;
  }
}

.content {
  flex-basis: 80vw;
  background: $white-80;
  border-radius: $size-0 15px 15px $size-0;
  padding: 62px 70px;
  @media screen and (max-width: $medium) {
    border-radius: 0;
    padding: 15px 10px;
    flex-basis: auto;
  }
  @media screen and (max-width: $large) {
    flex-basis: 70vw;
  }
}
