.draft_label {
  display: inline-block;
}

.slider-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.switch {
  @include setMargin($size-0, $size-0, $size-20, $size-0);
  position: relative;
  display: inline-block;
  width: 150px;
  height: $size-40;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $key-lime;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 32px;
  width: 32px;
  left: 4px;
  bottom: 4px;
  background-color: $white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $mulberry;
}

input:focus + .slider {
  box-shadow: 0 0 $size-1 $mulberry;
}

input:checked + .slider:before {
  -webkit-transform: translateX(110px);
  -ms-transform: translateX(110px);
  transform: translateX(110px);
}

.on
{
  display: none;
}

.on, .off
{
  @include setFontSize($size-16);
  color: white;
  font-weight: bold;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
}

.off {
  color: $mulberry;
}

input:checked+ .slider .on {
  display: block;
}

input:checked + .slider .off {
  display: none;
}

.slider.round {
  border-radius: 999px;
}

.slider.round:before {
  border-radius: 50%;
}
