#editor_modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: $z-index-front;
  left: 0;
  background: $black-70;
}

#editor_text {
  margin: 10% auto;
  width: 50%;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  border: $size-1 solid $mulberry;
  box-shadow: 0 0 $size-10 $mulberry;
  background-color: $white;

  @media screen and (max-width: $medium) {
    width: 80%;
  }

  @media screen and (max-width: $small) {
    margin: 0 auto;
    width: 100%;
    max-height: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
  }
}

#editor_text div.table div.table_row {
  display: table-row;
}

#editor_text div.table div.table_cell {
  display: table-cell;
  word-break: break-word;
}

h1#close_editor {
  font-weight: $font-weight-300;
  font-size: $size-26;
  padding: 0;
  margin: $size-0;
  color: $mulberry;

  @media screen and (max-width: $medium) {
    font-size: $size-22;
  }

  @media screen and (max-width: $small) {
    font-size: $size-20;
  }
}

#modal_text {
  width: calc(90%);
  height: calc(100% - 100px);
}

.no_scroll {
  overflow: hidden;
}
