// Place all the styles related to the strategy controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Footer */

#footer {
	border-top: 1px solid $container-color;
  	padding: 40px 0px;

  	@media screen and (max-width: $medium) {
  		padding: 20px 0px;
  	}
}

#footer_content {
	padding: 0px 60px;
	font-size: 16px;
	color: $secondary-text-color;

	@media screen and (max-width: $medium) {
		font-size: 14px;
		padding: 0px 20px;
	}
}

#footer a:link,
#footer a:visited {
	text-decoration: none;
	color: $secondary-text-color;
	border-bottom: 1px dotted $secondary-text-color;
}

#footer a:hover {
	text-decoration: none;
	color: $secondary-text-color;
	border-bottom: 1px dotted $secondary-text-color;
	opacity: 0.5;
}

@media screen and (max-width: $medium) {
	#footer .align_left {
		display: block;
		text-align: left;
		margin-bottom: 10px;
		line-height: 30px;
	}

	#footer .align_right {
		display: block;
		text-align: left;
	}
}
