// Place all the styles related to the strategy controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Footer */

#footer {
	background-image: url('/assets/welcome_small_blur.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
  	padding: 40px 0px;
  	-moz-box-shadow: inset 0 50px 100px -50px $secondary-text-color;
   	-webkit-box-shadow: inset 0 50px 100px -50px $secondary-text-color;
   	box-shadow: inset 0 50px 100px -50px $secondary-text-color;

  	@media screen and (max-width: $medium) {
  		padding: 20px 0px;
  	}

  	.license {
  		text-align: right;

  		@media screen and (max-width: $small) {
  			text-align: center;
  		}
  	}

  	.footer_subtitle {
  		font-size: 14px;

  		@media screen and (max-width: $medium) {
				font-size: 12px;
			}

			a:link, a:visited, a:hover {
				display: inline;
			}
  	}
}

#footer_content {
	padding: 0px 60px;
	font-size: 16px;
	color: $secondary-text-color;
	text-shadow: 0px 0px 50px $header-text-color;

	@media screen and (max-width: $medium) {
		font-size: 14px;
		padding: 0px 20px;
	}

	@media screen and (max-width: $small) {
		text-align: center;
	}
}

#footer a:link,
#footer a:visited {
	text-decoration: none;
	color: $secondary-text-color;
	border: none;
	display: block;
	margin: 0;

	@media screen and (max-width: $small) {
		text-align: center;
	}
}

#footer a:hover {
	text-decoration: none;
	color: $secondary-text-color;
	border: none;
	opacity: 0.5;
	display: block;
	margin: 0;

	@media screen and (max-width: $small) {
		text-align: center;
	}
}

#footer .padding_right {
	padding-right: 40px !important;

	@media screen and (max-width: $medium) {
		padding-right: 20px !important;
	}

	@media screen and (max-width: $small) {
		padding-right: 0 !important;
	}
}

@media screen and (min-width: $small + 1) {
	#footer .align_left {
		float: left;
		display: inline-block;
	}

	#footer .align_right {
		float: right;
		display: inline-block;
	}

	#footer div.table div.table_row {
		display: table-row;
	}

	#footer div.table div.table_cell {
		display: table-cell;
		word-break: break-word;
	}

	.large_padding_right {
		padding-right: 80px;
	}

	@medium screen and (max-width: $medium) {
		.large_padding_right {
			padding-right: 40px;
		}
	}
}

@media screen and (max-width: $small) {
	#footer .align_left {
		display: block;
		text-align: left;
		text-align: center;
	}

	#footer .align_right {
		display: block;
		text-align: left;
		text-align: center;
	}

	#feedback {
		margin-bottom: 10px !important;
	}

	#if_me_links {
		margin-top: 0 !important;
	}
}

.footer_heading {
	font-weight: 300;
	font-size: 30px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 20px;
	display: block;
	color: $header-text-color;
	text-shadow: 0px 0px 20px $secondary-text-color;

	@media screen and (max-width: $medium) {
		font-size: 26px;
		margin-top: 0;
		margin-bottom: 10px;
	}

	@media screen and (max-width: $small) {
		text-align: center;
		margin-top: 10px;
	}
}
