// Place all the styles related to the strategy controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Footer */

#footer {
  background: $notification-backdrop;

  &Links {
    padding: 66px 114px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &Title {
      font-size: $font14;
      letter-spacing: 0.05em;
    }
  }

  &Extras {
    padding: 0px 114px 66px 114px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}