// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Groups */

h1.group_type {
	font-weight: 100;
	font-size: 30px;
	padding: 0;
	margin: 0px 0px 20px 0px;

	@media screen and (max-width: $medium) {
		font-size: 26px;
		margin: 0px 0px 10px 0px;
	}
}
