/* Header */

#header {
  background-color: $container-color;
  position: fixed;
  width: 100%;
  z-index: 9000;
}

#header_content {
  @include clearfix;
  padding: 10px;

  @media screen and (min-width: $medium) {
    padding: 30px 60px;
  }
}

.top-nav {
  clear: left;
  float: left;
  font-size: 12px;
  padding: 0;
  margin: 0;
  width: 80%;

  @media screen and (min-width: $medium) {
    font-size: 18px;
    width: auto;
  }

  li {
    float: left;
    list-style: none;
    margin-right: 10px;

    @media screen and (min-width: $medium) {
      margin-right: 24px;
    }
  }

  .active a {
    border-top: 1px solid $header-text-color;
    border-bottom: 1px solid $header-text-color;
    opacity: 0.5;
  }

  a {
    border-bottom: 1px solid $container-color;
    border-top: 1px solid $container-color;
    color: $header-text-color;
    display: block;
    padding: 5px 0;
    text-decoration: none;

    @media screen and (min-width: $medium) {
      padding: 13px 0;
    }

    &:hover {
      border-bottom: 1px solid $header-text-color;
      border-top: 1px solid $header-text-color;
    }
  }
}

#expand_trigger, #expand_me {
  font-weight: 300;
  margin-top: 30px;

  a {
    border: none;
  }
}

#title_expand {
  border: none;
  color: $header-text-color;
  float: right;
  font-size: 20px;
  font-weight: 100;
  line-height: 1;
  margin-top: 7px;
  outline: 0;
  text-align: right;
  text-transform: lowercase;

  @media screen and (min-width: $medium) {
    font-size: 30px;
  }

  &:hover {
    opacity: 1;
  }

  .expand {
    color: $highlight-text-color;
    float: right;
    font-size: 20px;
    line-height: 30px;
    margin-left: 10px;
  }
}

#me {
  @include clearfix;
  border-bottom: 1px solid $highlight-text-color;
  border-top: 1px solid $highlight-text-color;
  color: $highlight-text-color;
  margin: 0;
  padding: 5px 0px 10px 0px;
}

#expand_me {
  clear: right;
  float: right;
  margin-top: 0;
  text-align: right;

  li {
    float: right;
  }

  @media screen and (min-width: $medium) {
    margin-top: 30px;
  }
}

#header_spacer {
  width: 100%;
}
