/* Header */

#header {
  background-color: $container-color;
  position: fixed;
  width: 100%;
  z-index: 9000;
}

// Main Navigation Links
.top-nav {
  padding: 0;
  font-size: $font16;
  width: auto;
  text-align: left;

  @media screen and (min-width: $small + 1) {
    font-size: $font18;
  }

  li {
    display: inline-block;
    list-style: none;
    margin-right: 24px;
    vertical-align: middle;

    @media screen and (max-width: $medium) {
      margin-right: 16px;
    }
  }

  .active a {
    border-top: 2px solid $header-navigation-text-color-active;
    border-bottom: 2px solid $header-navigation-text-color-active;
    color: $header-navigation-text-color-active;
  }

  a {
    border-bottom: 2px solid $container-color;
    border-top: 2px solid $container-color;
    color: $header-navigation-text-color;
    display: block;
    padding: 0;
    text-decoration: none;

    @media screen and (min-width: $small + 1) {
      padding: 13px 0;
    }

    &:hover {
      color: $header-navigation-text-color-focus;
      border-bottom: 2px solid $header-navigation-text-color-focus;
      border-top: 2px solid $header-navigation-text-color-focus;
      opacity: 1;
    }
  }

  .vertical_divider {
    height: 52px;
    margin: 0;
    opacity: 0.5;
  }
}

.primary-nav {
  margin: 20px 0 20px 20px;
  white-space: nowrap;

  @media screen and (min-width: $medium + 1) {
    margin: 20px 0 20px 60px;
  }
}

.secondary-nav {
  font-weight: 300;
  margin: 0;
  padding: 0 20px;
  background-color: $header-secondary-navigation-background;
  transition: max-height 300ms;
  max-height: 75px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;

  &.transition-hidden {
    max-height: 0;
  }

  @media screen and (min-width: $medium + 1) {
    padding: 0 60px;
  }

  .active a {
    border: none;
  }

  a {
    border: none;
    padding-top: 23px;
    padding-bottom: 23px;
    color: $header-secondary-navigation-text;

    &:hover {
      border: none;
    }
  }
}

#nav-me {
  text-align: right;
}

.header-logo {
  border: none;
  color: $if-on-dark;
  float: right;
  font-size: $font20;
  font-weight: 300;
  margin: 0 20px 0 0;
  padding: 0;
  outline: 0;
  text-align: right;
  text-transform: lowercase;
  vertical-align: middle;
  cursor: pointer;

  @media screen and (max-width: $small) {
    margin: -4px 0 0;
  }

  @media screen and (min-width: $small + 1) {
    font-size: $font30;
    padding-top: 4px;
  }

  @media screen and (min-width: $medium + 1) {
    margin-right: 60px;
  }

  a:link, a:visited, a:hover {
    color: $if-on-dark;
    border: none;
    opacity: 1;
  }

  .me {
    @include clearfix;
    border-bottom: 2px solid $highlight-text-color;
    border-top: 2px solid $highlight-text-color;
    color: $me-on-dark;
    margin: 0;
    padding: 0px 0 6px;

    @media screen and (max-width: $small) {
      padding: 1px 0 6px;
    }
  }

  .expand {
    color: $highlight-text-color;
    float: right;
    font-size: $font20;
    margin-left: 10px;

    @media screen and (max-width: $small) {
      font-size: $font16;
      padding-top: 2px;
    }
  }

  &:hover .fa {
    color: $if-on-dark;
  }

  .fa-sort-desc {
    padding-top: 8px;
  }

  .fa-sort-asc {
    padding-top: 17px;
  }
}

@media screen and (max-width: $small) {
  .large-screen {
    display: none;
  }
}

@media screen and (min-width: $small + 1) {
  .small-screen {
    display: none;
  }
}

.small-screen {
  padding: 16px;

  .expand {
    font-size: $font20;
    color: $header-navigation-text-color;
    cursor: pointer;

    &:hover {
      color: $header-navigation-text-color-focus;
    }
  }

  #small_nav {
    margin: 16px 0 0;
    padding: 0;
    text-align: left;
    list-style: none;

    li {
      display: block;
      margin-bottom: 10px;
    }

    a {
      border: none;
    }
  }
}
