// Place all the styles related to the Medications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Medications */

.comments {
  width: 100%;
  height: 150px;
}

#medication_content {
  .gridRow {
    @media screen and (max-width: $small) {
      flex-direction: row !important;
    }
  }
}

.form_container {
  display: flex;
  justify-content: space-between;
  padding: $size-20 0;
  flex-wrap: wrap;
}

@media screen and (max-width: $medium) {
  .form_container {
    .field {
      width: 100%;
    }
    .inline-block {
      display: flex;
      select {
        margin-right: 0;
      }
    }
  }
}
