// Place all the styles related to the Medications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Medications */

.comments {
	width: 100%;
	height: 150px;
}