// Place all the styles related to the Medications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Medications */

.comments {
  width: 100%;
  height: 150px;
}

#medication_content {
  padding: 50px 200px;
}

.form_container {
  display: flex;
  justify-content: space-between;
  padding: $size-20 0;
  flex-wrap: wrap;
}

.refill_medication {
  padding-right: 112px;
}

.medication_tooltip_padding {
  padding-left: 9px;
}

@media screen and (max-width: $medium) {
  .form_container {
    .field {
      width: 100%;
    }
    .inline-block {
      display: flex;
      select {
        margin-right: 0;
      }
    }
  }

  #medication_content {
    padding: 50px $size-20;
  }
}

@media screen and (max-width: $small) {
  #medication_content {
    padding: 0;
  }

  label[for="refill_reminder"],
  label[for="take_medication_reminder"],
  label[for="medication_Google Calendar reminder"] {
    @include setFontSize($size-20);
  }
}
