// Place all the styles related to the Moments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.story strong {
  line-height: 35px;

  @media screen and (max-width: $medium) {
    line-height: 25px;
  }
  @media screen and (max-width: $font-weight-100all) {
    line-height: 18px;
  }
}

.secret-share-button,
input.secret-share-button {
  color: white;
  background-color: $mulberry;
  float: right;
  margin-right: 1px;
}

#secret-share-area {
  border: 1px solid $mulberry;
  padding: 10px;
  width: 600px;
  float: right;
  background-color: white;
  clear: right;
  margin-top: 6px;
  input[type=text]{
    width: 400px;
    font-size: 10px;
  }
}

.secret-share-expire {
  font-size: 18px;
  margin-top: 6px;
  input[type=date] {
    font-size: 12px;
  }
}
