// Place all the styles related to the Moments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.secret-share-button,
input.secret-share-button {
  color: white;
  background-color: $mulberry;
  float: right;
  margin-right: $size-1;
}

#secret-share-area {
  border: $size-1 solid $mulberry;
  padding: $size-10;
  width: 600px;
  float: right;
  background-color: white;
  clear: right;
  margin-top: $size-6;
  input[type=text] {
    @include setFontSize($size-14);
    width: 400px;
  }
}

.secret-share-expire {
  font-size: $size-18;
  margin-top: $size-6;
  input[type=date] {
    @include setFontSize($size-14);
  }
}
