// Place all the styles related to the Moments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Moments */

.moment {
	padding: 20px;
	border: 1px solid $container-color;
	box-shadow: 0 0 2px $container-color inset;
	margin-bottom: 40px;
}

h1.moment_name {
	font-weight: 300;
	font-size: 26px;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: $secondary-text-color;
}

h1.moment_name a:link,
h1.moment_name a:visited {
	color: $secondary-text-color;
	text-decoration: none;
	border: none;
}



