// Place all the styles related to the Moments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.story strong {
  line-height: 35px;

  @media screen and (max-width: $medium) {
    line-height: 25px;
  }
  @media screen and (max-width: $small) {
    line-height: 18px;
  }
}

.secret-share-button input {
  color: white;
  background-color: $container-color;
  float: right;
}
