#notifications, .tip_notifications {
  width: 100%;
  position: fixed;
  top: 30%;
  z-index: 9001;
  left: 0;
}

#notifications_text, .tip_notifications_text {
  margin: 0 auto;
  width: 50%;
  height: 250px;
  padding: 40px;
  overflow: scroll;
  border: 1px solid $container-color;
  box-shadow: 0 0 40px $container-color;
  background-color: $background-color;
}

a.notification_link:link,
a.notification_link:visited,
a.tip_notification_link:link,
a.tip_notification_link:visited {
  margin-top: 20px;
  display: block;
  text-decoration: none;
  color: $link-color;
  border-bottom: none;
}

a.notification_link:hover, a.tip_notification_link:hover {
  margin-top: 20px;
  display: block;
  text-decoration: none;
  color: $link-color;
  border-bottom: none;
  opacity: 0.5;
}

#notifications_none {
  margin-top: 20px;
}

.tip_notifications_button:hover {
  opacity: 0.5;
}

h1.notification_name, h1.tip_close_notifications {
  font-weight: 300;
  font-size: 26px;
  padding: 0;
  margin: 0px;
  color: $secondary-text-color;
}