#notifications, 
.tip_notifications, 
.quick_create {
  width: 100%;
  position: fixed;
  top: 30%;
  z-index: 9001;
  left: 0;
}

@media screen and (max-width: $medium) {
  .tip_notifications, .quick_notifications {
    .padding_right {
      padding-right: 20px !important;
    }
  }
}

#notifications_text, .tip_notifications_text, .quick_create_text {
  margin: 0 auto;
  width: 50%;
  height: 250px;
  padding: 40px;
  overflow: scroll;
  border: 1px solid $container-color;
  box-shadow: 0 0 40px $container-color;
  background-color: $background-color;

  @media screen and (max-width: $small) {
    width: 80%;
    padding: 20px;
  }
}

a.notification_link:link,
a.notification_link:visited,
a.tip_notification_link:link,
a.tip_notification_link:visited,
a.quick_create_link:link,
a.quick_create_link:visited {
  margin-top: 20px;
  display: block;
  text-decoration: none;
  color: $link-color;
  border-bottom: none;

  @media screen and (max-width: $small) {
    margin-top: 10px;
  }
}

a.notification_link:hover, 
a.tip_notification_link:hover,
a.quick_create_link:hover {
  margin-top: 20px;
  display: block;
  text-decoration: none;
  color: $link-color;
  border-bottom: none;
  opacity: 0.5;

  @media screen and (max-width: $small) {
    margin-top: 10px;
  }
}

#notifications_none {
  margin-top: 20px;

  @media screen and (max-width: $small) {
    margin-top: 10px;
  }
}

.tip_notifications_button:hover,
#categories_quick_button:hover,
#moods_quick_button:hover,
#strategies_quick_button:hover {
  opacity: 0.5;
}

h1.notification_name, 
h1.tip_close_notifications,
h1.quick_create_close, 
h1#clear_notifcations, 
h1#close_notifications {
  font-weight: 300;
  font-size: 26px;
  padding: 0;
  margin: 0px;
  color: $secondary-text-color;

  @media screen and (max-width: $small) {
    font-weight: 22px;
  }
}

.quick_create_text div.table div.table_row,
.tip_notifications_text div.table div.table_row,
#notifications_text div.table div.table_row {
  display: table-row;
}

.quick_create_text div.table div.table_cell,
.tip_notifications_text div.table div.table_cell,
#notifications_text div.table div.table_cell {
  display: table-cell;
  word-break: break-word;
}

#notifications .align_left, #notifications .align_right {
  @media screen and (max-width: $medium) {
    width: auto !important;
  }
}

.quick_create {
  textarea {
    width: 100%;
  }

  label {
    font-size: 26px;
    font-weight: 300;

    @media screen and (max-width: $medium) {
      font-size: 24px;
    }
  }

  .label {
    width: auto;
    display: inherit;
    font-size: 26px;
    margin-bottom: 10px;

    @media screen and (max-width: $medium) {
      font-size: 24px;
      margin-bottom: 5px;
    }
  }
}