#notifications,
.tip_notifications,
.quick_create,
#categories_moods {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: $z-index-front;
  left: 0;
  background: $black-70;
}

.titlebar {
  background: linear-gradient(90deg, $white 97%, $white-10 3%);
  width: 50%;
  position: fixed;

  @media screen and (max-width: $medium) {
    width: 80%;
  }

  @media screen and (max-width: $small) {
    width: 100%;
  }
}

.modal_text {
  margin-top: 100px;
  padding: $size-0 $size-40 $size-40 $size-40;
  @media screen and (max-width: $small) {
    margin-top: 80px;
    padding: $size-0 $size-20 $size-20 $size-20;
  }
}

@media screen and (max-width: $medium) {
  .tip_notifications,
  .quick_notifications,
  #categories_moods {
    .padding_right {
      padding-right: $size-20 !important;
    }
  }
}

#notifications_text,
.tip_notifications_text,
.quick_create_text,
#categories_moods_text {
  margin: 10% auto;
  width: 50%;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  border: $size-1 solid $mulberry;
  box-shadow: 0 0 $size-10 $mulberry;
  background-color: $white;
  @media screen and (max-width: $medium) {
    width: 80%;
  }

  @media screen and (max-width: $small) {
    margin: 0 auto;
    width: 100%;
    max-height: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
  }
}

.titlebar.scrolling {
  box-shadow: 0 0 $size-10 $mulberry;
}

a.notification_link,
a.tip_notification_link,
a.quick_create_link {
  @include setMargin($size-20, $size-0, $size-0, $size-0);
  display: block;
  text-decoration: none;
  color: $steel-blue;
  border-bottom: none;
  &:hover {
    opacity: 0.5;
  }
}

#notifications_none {
  @include setMargin($size-20, $size-0, $size-0, $size-0);
}

.tip_notifications_button {
  cursor: pointer;
}

.tip_notifications_button:hover,
#categories_quick_button:hover,
#moods_quick_button:hover,
#strategies_quick_button:hover {
  opacity: 0.5;
}

h1.notification_name,
h1.tip_close_notifications,
h1.quick_create_close,
h1#clear_notifications,
h1#close_notifications {
  @include setFontSize($size-26);
  @include setMargin($size-0, $size-0, $size-0, $size-0);
  font-weight: $font-weight-300;
  color: $mulberry;
}

h1#clear_notifications {
  cursor: pointer;
}

.quick_create_text div.table div.table_row,
.tip_notifications_text div.table div.table_row,
#notifications_text div.table div.table_row,
#categories_moods_text div.table div.table_row {
  display: table-row;
}

.quick_create_text div.table div.table_cell,
.tip_notifications_text div.table div.table_cell,
#notifications_text div.table div.table_cell,
#categories_moods_text div.table div.table_cell {
  display: table-cell;
  word-break: break-word;
}

.quick_create {
  textarea {
    width: 100%;
  }

  label {
    @include setFontSize($size-26);
    font-weight: $font-weight-300;
  }

  .label {
    @include setFontSize($size-26);
    @include setMargin($size-0, $size-0, $size-10, $size-0);
    width: auto;
    display: inherit;
  }
}

.notifications_button.fade{
  opacity: 0.5;
}

.show_backdrop {
  overflow: hidden;
}
