// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#version {
	text-align: center;
	font-weight: 300;
	font-size: 26px;
	margin-bottom: 30px;
	color: $secondary-text-color;
}

.trigger p {
	margin : 0;
}

.message {
	font-weight: 300;
	font-size: 26px;
	display: table;
	table-layout: fixed;
}

.message_row {
	display: table-row;
}

.message_cell {
	display: table-cell;
	width: 30%;
}

#book {
	width: auto;
	height: 80px;
	background-image: url('/assets/book.png');
	background-size: auto 80px;
	background-repeat: no-repeat;
	background-position: center;
}

#time {
	width: 100%;
	height: 80px;
	background-image: url('/assets/time.png');
	background-size: auto 80px;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 40px;
}

#you {
	width: 100%;
	height: 80px;
	background-image: url('/assets/you.png');
	background-size: auto 80px;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 40px;
}

.icon_border {
	margin: 40px auto 40px auto;
	height: 1px;
	background-color: $primary-text-color;
	width: 80px;
}

h1 {
	font-weight: 300;
	font-size: 26px;
	padding: 0;
	margin: 0px;
	color: $secondary-text-color;
}

/* Blog */

.blog_post {
	padding: 20px;
	border: 1px solid $container-color;
	box-shadow: 0 0 2px $container-color inset;
	margin-bottom: 40px;
}

h1.blog_name {
	font-weight: 300;
	font-size: 26px;
	padding: 0;
	margin: 0;
	color: $secondary-text-color;
}

h1.blog_name a:link,
h1.blog_name a:visited {
	color: $secondary-text-color;
	text-decoration: none;
	border: none;
}