.pageTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: $font-weight-300;
  font-size: $size-34;
  margin-bottom: $size-20;
  > div:last-of-type {
    margin-left: auto;
  }
  @media screen and (max-width: $small) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    > div:last-of-type {
      margin: $size-0;
    }
  }
}

a.page_edit:link,
a.page_edit:visited,
a.page_new:link,
a.page_new:visited,
a.page_search:link,
a.page_search:visited {
  text-decoration: none;
  border: none;
  color: $black;
}

a.page_edit:hover,
a.page_new:hover,
a.page_search:hover {
  text-decoration: none;
  border: none;
  color: $black;
  opacity: 0.5;
}
