// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#version {
	text-align: center;
	font-weight: 300;
	font-size: 26px;
	margin-bottom: 60px;
	color: $secondary-text-color;

	@media screen and (max-width: $medium) {
		font-size: 24px;
		margin-bottom: 20px;
	}
}

.moment p {
	margin : 0;
}

.message {
	font-weight: 300;
	font-size: 26px;
	display: table;
	table-layout: fixed;
	width: 100%;

	@media screen and (max-width: $medium) {
		font-size: 24px;
	}
}

.message_row {
	display: table-row;

	@media screen and (max-width: $medium) {
		display: block;
	}
}

.message_cell {
	display: table-cell;
	width: 30%;

	@media screen and (max-width: $medium) {
		display: block;
		width: 100%;
		margin-bottom: 30px;
	}
}

#book {
	width: 106px;
	height: 80px;
	background-image: url('/assets/book.png');
	background-size: 106px 80px;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;

	@media screen and (max-width: $small) {
		width: 80px;
		height: 60px;
		background-size: 80px 60px;
	}
}

#time {
	width: 80px;
	height: 80px;
	background-image: url('/assets/time.png');
	background-size: 80px 80px;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;

	@media screen and (max-width: $small) {
		width: 60px;
		height: 60px;
		background-size: 60px 60px;
		margin-top: 20px;
	}
}

#you {
	width: 198px;
	height: 80px;
	background-image: url('/assets/you.png');
	background-size: 198px 80px;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;

	@media screen and (max-width: $small) {
		width: 149px;
		height: 60px;
		background-size: 149px 60px;
		margin-top: 20px;
	}
}

.icon_border {
	margin: 40px auto 40px auto;
	height: 1px;
	background-color: $primary-text-color;
	width: 80px;

	@media screen and (max-width: $medium) {
		margin: 30px auto 30px auto;
	}
}

/* Blog */

.blog_post {
	padding: 20px;
	border: 1px solid $container-color;
	box-shadow: 0 0 2px $container-color inset;
	margin-bottom: 40px;

	@media screen and (max-width: $medium) {
		margin-bottom: 20px;
		padding: 10px;
	}
}

h1.blog_name, h1.privacy_heading {
	font-weight: 300;
	font-size: 26px;
	padding: 0;
	margin: 0;
	color: $secondary-text-color;

	@media screen and (max-width: $medium) {
		font-size: 22px;
	}
}
