// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Profiles */

@media screen and (max-width: $medium) {
  #profile_info {
    text-align: center;
    .profile_picture_div {
      margin-left: auto;
      margin-right: auto;
      margin-top: $size-0;
      margin-bottom: $size-10;
    }
  }
}
