// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Profiles */

.profile_container p {
	margin : 0;
}

@media screen and (max-width: $medium) {
	#profile_info {
		text-align: center;

		.profile_picture_div {
			width: 100px;
			height: 120px;
			margin: 0 auto;
		}
	}
}