.story {
  position: relative;
  padding-bottom: 50px;
  .class_name {
    position: absolute;
    right: $size-20;
    bottom: $size-20;
  }
}

.moment_date {
  @include setFontSize($size-14);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $mulberry-50;
}

.moment_settings {
  display: flex;
  flex-direction: row;
}

.moment_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.story {
  @media screen and (max-width: $small) {
    .story_name {
      font-size: $size-20;
      margin: $size-0 $size-0 $size-4 $size-0;
      padding-bottom: $size-4;
      border-bottom: $size-1 solid $dusty-rose;
    }
    .ally_name {
      font-size: $size-18;
      margin: $size-0 $size-0 $size-10 $size-0;
    }
  }
}

#page_author {
  @include setFontSize($size-24);
  vertical-align: middle;
}

#stats {
  @include setFontSize($size-22);
  @include setMargin($size-0, $size-0, $size-40, $size-0);
  font-weight: $font-weight-300;
  #most_focus {
    width: 100%;
    font-size: $size-0;
  }
  // Align .small_focus children linearly only
  // when min-width is at least 1025px i.e. $medium
  @media screen and (min-width: $medium + 1) {
    #most_focus {
      display: flex;
    }
  }
  .some_focus {
    flex: 1;
    min-width: 0;
    text-align: center;
    color: $key-lime;
    background-color: $mulberry;
    font-size: $size-0;
    // The first .some_focus child of #most_focus
    // has opacity 1, 2nd has 0.8 and 3rd has 0.6
    &:nth-child(1) {
      opacity: 1;
    }
    &:nth-child(2) {
      opacity: 0.8;
    }
    &:nth-child(3) {
      opacity: 0.6;
    }
  }
  .some_focus_text {
    @include setFontSize($size-22);
    padding: $size-20;
    font-weight: $font-weight-300;
    a, .link_style {
      text-decoration: none;
      color: $key-lime;
      &:hover {
        opacity: 0.5;
      }
    }
    .tooltip {
      width: 100%;
      &Element {
        width: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

#tag_usage.margin_bottom {
  @include setMargin($size-0, $size-0, $size-20, $size-0);
}

.tag_type.margin_top {
  @include setMargin($size-20, $size-0, $size-0, $size-0);
}

.group_type,
.tag_type {
  @include setFontSize($size-30);
  @include setMargin($size-0, $size-0, $size-20, $size-0);
  font-weight: $font-weight-200;
  padding: 0;
}

.pagination {
  @include setMargin($size-40, $size-0, $size-0, $size-0);
  color: $dusty-rose;
  text-align: center;
  span.prev,
  span.first {
    @include setMargin($size-0, $size-10, $size-0, $size-0);
  }
  span.next,
  span.last {
    @include setMargin($size-0, $size-0, $size-0, $size-10);
  }
  a:link, a:visited {
    text-decoration: none;
    color: $mulberry;
    &:hover {
      opacity: 0.5;
    }
  }
}

#categories_list,
#moods_list,
#strategies_list,
#viewers_list {
  width: 100%;
  label {
    display: block;
    font: inherit;
  }
}

#search_email,
#search_name {
  width: 600px;
  @media screen and (max-width: $medium) {
    width: 100%;
    margin-right: 0;
    margin-bottom: $size-10;
  }
}
