.ally,
.group {
  border: $size-1 solid $mulberry;
  padding: $size-20;
  box-shadow: 0 0 $size-2 $mulberry inset;
  margin-bottom: $size-20;

  @media screen and (max-width: $medium) {
    padding: $size-10;
    margin-bottom: $size-20;
  }
}

.category,
.medication,
.meeting,
.moment,
.mood,
.story,
.strategy,
.contributor,
.ally {
  @include box-sizing(border-box);
  width: calc(50% - 10px);
  padding: $size-20;
  margin-bottom: $size-20;

  background: $white;
  box-shadow: $size-0 $size-2 $size-10 $black-10;
  border-radius: $size-5;

  @media screen and (max-width: $medium) {
    width: 100%;
    padding: $size-10;
    margin-bottom: $size-20;
  }
}

.story {
  position: relative;
  padding-bottom: 50px;

  .class_name {
    position: absolute;
    right: $size-20;
    bottom: $size-20;
  }
}

.ally_name,
.category_name,
.group_name,
.meeting_name,
.medication_name,
.moment_name,
.story_name,
.mood_name,
.profile_name,
.strategy_name,
.contributor_name {
  font-weight: 400;
  font-size: $size-18;
  padding: 0;
  margin: $size-0 $size-0 $size-20 $size-0;
  color: $mulberry;

  @media screen and (max-width: $medium) {
    font-size: $size-16;
    margin: $size-0 $size-0 $size-10 $size-0;
  }
}

.ally_name a:link,
.ally_name a:visited,
.category_name a:link,
.category_name a:visited,
.group_name a:link,
.group_name a:visited,
.meeting_name a:link,
.meeting_name a:visited,
.medication_name a:link,
.medication_name a:visited,
.moment_name a:link,
.moment_name a:visited,
.story_name a:link,
.story_name a:visited,
.mood_name a:link,
.mood_name a:visited,
.blog_name a:link,
.blog_name a:visited,
.profile_name a:link,
.profile_name a:visited,
.strategy_name a:link,
.strategy_name a:visited {
  color: $mulberry;
  text-decoration: none;
  border: none;
}

.moment_date {
  font-size: $size-10;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $mulberry-50;
}

.moment_settings {
  display: flex;
  flex-direction: row;
}

.moment_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar_label,
.label,
.tip_notifications_text,
#notifications_text,
.quick_create_text,
#categories_moods_text,
.meeting,
.group_info,
.moment,
.story {
  .align_left {
    float: left;
    display: inline-block;

    @media screen and (max-width: $small) {
        width: 80%;
    }
  }

  .align_right {
    float: right;
    display: inline-block;
  }
}

.contributor {
  .align_left {
    float: left;
    display: inline-block;
  }

  .align_right {
    float: right;
    display: inline-block;
  }
}


#other_user,
.story {
  .align_left {
    float: left;
    display: inline-block;

    @media screen and (max-width: $small) {
      width: 100%;
      float: none;
      display: block;
    }
  }

  .align_right:not(.table_cell) {
    float: right;
    display: inline-block;

    @media screen and (max-width: $small) {
      float: none;
      display: block;
    }
  }

  @media screen and (max-width: $small) {
    .story_name {
      font-size: $size-20;
      margin: $size-0 $size-0 $size-5 $size-0;
      padding-bottom: $size-5;
      border-bottom: $size-1 solid $dusty-rose;
    }

    .ally_name {
      font-size: $size-18;
      margin: $size-0 $size-0 $size-10 $size-0;
    }
  }
}

#page_author {
  font-size: $size-24;
  vertical-align: middle;

  @media screen and (max-width: $medium) {
    font-size: $size-20;
  }
}


#leave.align_left,
#join.align_left {
  float: left;
  display: inline-block;

  @media screen and (max-width: $small) {
    width: 60%;
  }
}

@media screen and (min-width: $small + 1) {
  .ally .align_left {
    float: left;
    display: inline-block;
  }

  .ally .align_right {
    float: right;
    display: inline-block;
  }
}

#leave.align_right,
#join.align_right {
  float: right;
  display: inline-block;
}

#stats {
  font: $size-22 $font-family;
  font-weight: 300;
  margin-bottom: $size-40;

  #most_focus {
    width: 100%;
    font-size: $size-0;
  }

  // Align .small_focus children linearly only
  // when min-width is at least 1025px i.e. $medium

  @media screen and (min-width: $medium + 1) {
    #most_focus {
      display: flex;
    }
  }

  .some_focus {
    flex: 1;
    text-align: center;
    color: $key-lime;
    background-color: $mulberry;
    font-size: $size-0;

    // The first .some_focus child of #most_focus
    // has opacity 1, 2nd has 0.8 and 3rd has 0.6

    &:nth-child(1) {
      opacity: 1;
    }
    &:nth-child(2) {
      opacity: 0.8;
    }
    &:nth-child(3) {
      opacity: 0.6;
    }
  }

  .some_focus_text {
    padding: $size-20;
    font: $size-22 $font-family;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;

    a:link, a:visited, .link_style {
      text-decoration: none;
      color: $key-lime;
      border-bottom: none;
    }

    a:hover, .link_style:hover {
      text-decoration: none;
      color: $key-lime;
      border-bottom: none;
      opacity: 0.5;
    }
  }

  @media screen and (max-width: $medium) {
    font: $size-20 $font-family;
    font-weight: 300;
    margin-bottom: $size-20;

    .some_focus_text {
      padding: $size-20;
      font: $size-20 $font-family;
      font-weight: 300;
    }
  }

  @media screen and (max-width: $small) {
    font: $size-18 $font-family;
    font-weight: 300;
    margin-bottom: $size-20;

    .some_focus {
      display: block;
      text-align: center;
      color: $key-lime;
      background-color: $mulberry;
      font-size: $size-0;
      width: 100% !important;
    }

    .some_focus_text {
      padding: $size-10;
      font: $size-18 $font-family;
      font-weight: 300;
    }
  }
}

#tag_usage.margin_bottom {
  margin-bottom: $size-20 !important;
}

.tag_type.margin_top {
  margin-top: $size-20 !important;
}

@media screen and (max-width: $small) {
  #tag_usage.margin_bottom {
    margin-bottom: $size-10 !important;
  }

  .tag_type.margin_top {
    margin-top: $size-10 !important;
  }
}

.group_type,
.tag_type {
  font-weight: $font-weight-200;
  font-size: $size-30;
  padding: 0;
  margin: $size-0 $size-0 $size-20 $size-0;

  @media screen and (max-width: $medium) {
    font-size: $size-26;
    margin: $size-0 $size-0 $size-10 $size-0;
  }
}

.class_name,
#showTaggedMoments.align_right,
#hideTaggedMoments.align_right  {
  float: right !important;
}

.pagination {
  color: $dusty-rose;
  margin-top: $size-40;
  text-align: center;

  span.prev,
  span.first {
    margin-right: $size-10;
  }

  span.next,
  span.last {
    margin-left: $size-10;
  }

  a:link, a:visited {
    text-decoration: none;
    color: $mulberry;
    border: none;
  }

  a:hover {
    text-decoration: none;
    color: $mulberry;
    border-bottom: none;
    opacity: 0.5;
  }

  @media screen and (max-width: $medium) {
    margin-top: $size-20;
  }

  @media screen and (max-width: $small) {
    margin-top: $size-10;
  }
}

#categories_list,
#moods_list,
#strategies_list,
#viewers_list {
  width: 100%;

  label {
    display: block;
    font: inherit;
  }
}

#pages .page,
.tag_usage,
.contributors,
.allies_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#search_email,
#search_name {
  width: 600px;

  @media screen and (max-width: $medium) {
    width: 100%;
    margin-right: 0;
    margin-bottom: $size-10;
  }
}
