// Place all the styles related to the strategy controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: $medium) {
	#strategy_comment {
		margin: 0;
	}
}

@media only screen and (min-width: $medium){
	#myBtn{
		border: 1px solid $secondary-text-color;
	    box-shadow: 0 0 2px $secondary-text-color inset;
	    color: $secondary-text-color;
	    background: #fff;
	    font: 20px "Lato";
	    margin-right: 20px;
	    width: 217px;
	    padding: 9px;
	}
	.confirmbtn{
		border: 1px solid $secondary-text-color;
	    box-shadow: 0 0 2px $secondary-text-color inset;
	    color: $secondary-text-color;
	    background: #fff;
	    font: 20px "Lato";
	    width: 217px;
	    padding: 9px;
	    display: block;
    	margin: 50px 20px;
	}
	.confirmbtn a{
		color: $secondary-text-color !important;
		border-bottom: none !important;
	}
	.modal {
	    display: none; 
	    position: fixed; 
	    z-index: 1; 
	    left: 0;
	    top: 0;
	    width: 100%; 
	    height: 100%; 
	    overflow: auto; 
	    background-color: rgb(0,0,0); 
	    background-color: rgba(0,0,0,0.4);
	}
	.modal-content {
	    background-color: #fefefe;
	    margin: 15% auto; 
	    padding: 20px;
	    border: 1px solid #888;
	    width: 50%; 
	}
	.close {
	    color: #aaa;
	    float: right;
	    padding: 15px;
    	font-size: 38px;
	    font-weight: bold;
	}
	.close:hover,
	.close:focus {
	    color: $secondary-text-color;
	    text-decoration: none;
	    cursor: pointer;
	}
	.premade-box {
    	width: auto !important;
	}
}
