// Place all the styles related to the Triggers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Triggers */

.trigger {
	padding: 20px;
	border: 1px solid $container-color;
	box-shadow: 0 0 2px $container-color inset;
	margin-bottom: 40px;
}

h1.trigger_name {
	font-weight: 300;
	font-size: 26px;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: $secondary-text-color;
}

h1.trigger_name a:link,
h1.trigger_name a:visited {
	color: $secondary-text-color;
	text-decoration: none;
	border: none;
}

/* Trigger Form */ 

#triggerNameField {
  font: 30px Lato;
  border: none;
  margin-left: 15px;
  width:80%;
}

.toggleButton:link, .toggleButton:visited {
  font-size:27px;
  color:#d0e799;
  float:right;
  border: none;
}

.sidebarField {
  padding:15px; 
}

.sidebarField:hover {
  border-bottom: 1px solid #d0e799;
  border-top: 1px solid #d0e799;
}

.sidebarLabel label{
  font-size: 24px;
}

/* styling placeholder for different browsers */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-weight: 100;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-weight: 100;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-weight: 100;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-weight: 100;
}

