<html>
  <head>
    <%= stylesheet_link_tag 'application/mailer' %>
  </head>
  <body>
    <%= render 'shared/mailer_header' %>
    <div class="grid mailer-container">
      <div class="mailer-content">
        <%= yield %>
        <p>
        -----
        </p>
      </div>
    </div>
    <%= render 'shared/mailer_footer' %>
  </body>
</html>
