<html>
  	<body>
   		<%= yield %>

   		<p>
   		-----
   		</p>

   		<p>
   			<%= link_to "if me", root_url %> is a community that encourages people to share their mental health stories with loved ones.
   		</p>

		<p>
			You cannot reply to this email. If you have any questions, concerns, or feedback please email <%= link_to "join.ifme@gmail.com", "mailto:join.ifme@gmail.com" %>!
		</p>
  	</body>
</html>
