<html>
  	<body>
   		<%= yield %>

   		<p>
   		-----
   		</p>

   		<p>
        <%= t('layouts.mailer.html.app_description',
              app_name: link_to(t('app_name'), root_url)
        ) %>
   		</p>

		<p>
      <%= t('layouts.mailer.html.no_reply',
            email: link_to(t('email'), "mailto:join.ifme@gmail.com")
      ) %>
		</p>
  	</body>
</html>
